{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Opleidingspraktijk (HAIO) - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne &amp; Dr Charlotte Heyse</title>
    <meta name="description" content="Onze praktijk is erkend als universitaire opleidingspraktijk voor stagiairs en Huisartsen in Opleiding (HAIO’s).">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Opleidingspraktijk (HAIO)</h2>
        <p>Onze praktijk is erkend als universitaire opleidingspraktijk voor stagiairs en <a href="http://www.huisartsentandem.be/huisartsen/haio-huisarts-opleiding/" target="_blank"><nobr>Huisartsen in Opleiding</nobr></a> (HAIO’s). Dit vraagt een duidelijk engagement van ons om in een kwaliteitsvolle opleiding te voorzien en te werken volgens erkende standaarden. Maar dit vraagt ook een engagement van jullie, de patiënten van deze praktijk om aan dit project jullie medewerking en vertrouwen te geven. De HAIO-opleiding duurt in het totaal 2 jaar.</p>
        <h3>Dr. Jelle Van Nieuwenhuyze</h3>
        <p>Jelle is HAIO in onze praktijk sinds september 2017. Hij is een gediplomeerd arts die zich bij ons gedurende 2 jaar zal specialiseren tot huisarts.</p>
        <h3>Dr Cedric Leys</h3>
        <p>Cedric is HAIO onze praktijk sinds september 2018</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
