{% extends "layout.html.njk" %}

{% block meta %}
  <title>Tarieven - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Van Thuyne &amp; Pia Verhoeven</title>
  <meta name="description" content="Vindt hier onze huisartstarieven conform the RIZIV-normen.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Tarieven</h2>
      <p>Al de huisartsen werkzaam in de praktijk zijn geconventioneerd. Dit wil zeggen dat we ons houden aan de tarieven vooropgesteld door het
        <a href="http://www.riziv.be/" target="_blank" rel="noopener">RIZIV</a>:</p>
      <ul>
        <li>Gewone raadpleging: € 27.50</li>
        <li>Gewone raadpleging na 18:00: € 31.00</li>
        <li>Huisbezoek: € 40</li>
      </ul>
      <p>Om veiligheidsredenen verkiezen we elektronische betaling. We hebben bancontact in de praktijk en op huisbezoek. Ook kan er betaald worden met de app
        <a href="https://www.payconiq.com/" target="_blank" rel="noopener">Payconiq</a>.</p>
      <p>Indien u een
        <a href="/huisarts/riziv">globaal medisch dossier</a>
        (GMD) heeft, is er een verhoogde terugbetaling van de mutualiteit. De aanmaak van een globaal medisch dossier bij de huisarts is volledig gratis. U hoeft alleen uw elektronische identiteitskaart te laten inlezen.</p>
    </div>
  </section>
{% endblock %}