{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Terugbetaling - Diëtiste Lochristi - Céline Stadeus</title>
  {{/replace}}

  {{#replace "main"}}

    <div class="art-article">
      <h1>Voedings- en dieetkundige: Céline Stadeus</h1>
      <h3>Terugbetaling</h3>
      <p>Alle ziekenfondsen komen sinds januari 2007 tussen in de kosten. Voor ieder ziekenfonds gelden andere voorwaarden.&nbsp;Voor voorwaarden en terugbetaling, raadpleeg uw ziekenfonds.</p>
      <h3>Diabetespas</h3>
      <p>Personen met diabetes kunnen, op voorschrift van de huisarts, 2 maal per jaar een consultatie (+/-30min) terugbetaald krijgen door  het RIZIV.</p>
      <h3>Zorgtraject Diabetes</h3>
      <p>Op voorschrift van de huisarts verzorgt de diëtist raadplegingen diëtetiek voor personen met een zorgtraject.&nbsp;Het gaat over  sessies van 30 minuten per jaar. Per kalenderjaar mogen maximum 2 presentaties diëtetiek  per patiënt geattesteerd worden.&nbsp;Deze raadplegingen worden terugbetaald door de ziekteverzekering. De patiënt betaalt enkel het remgeld.</p>
    </div>

  {{/replace}}
{{/extend}}