{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Tarieven - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne &amp; Dr Charlotte Heyse</title>
    <meta name="description" content="Vindt hier onze huisartstarieven conform the RIZIV-normen.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Tarieven</h2>
        <p>Al de huisartsen werkzaam in de praktijk zijn geconventioneerd. Dit wil zeggen dat we ons houden aan de tarieven vooropgesteld door het RIZIV:</p>
        <ul>
          <li>Gewone raadpleging: € 25</li>
          <li>Gewone raadpleging na 18:00: € 29</li>
          <li>Huisbezoek: € 37</li>
        </ul>
        <p>Om veiligheidsredenen verkiezen we elektronische betaling. We hebben bancontact in de praktijk en op huisbezoek.</p>
        <p>Indien u een globaal medisch dossier (GMD) heeft, is er een verhoogde terugbetaling van de mutualiteit. De aanmaak van een globaal medisch dossier bij de huisarts is volledig gratis. U hoeft alleen uw elektronische identiteitskaart te laten inlezen.</p>
        <p>Meer informatie: zie <a href="/huisarts/nuttige-links">nuttige informatie</a>.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
