{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Tarieven - Huisarts Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne &amp; Dr Omima Ahmed</title>
    <meta name="description" content="Vindt hier onze huisartstarieven conform the RIZIV-normen.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Tarieven</h2>
        <p>De tarieven zijn conform met de RIZIV-normen:</p>
        <ul>
          <li>Gewone raadpleging: € 24,50</li>
          <li>Gewone raadpleging na 18:00: € 29</li>
          <li>Huisbezoek: € 37</li>
        </ul>
        <p>De praktijk beschikt over een Bancontact toestel. Indien uw Globaal Medisch Dossier (GMD) beheerd wordt door een van beide huisartsen, krijgt u een vermindering van 33% op het remgeld voor een raadpleging of huisbezoek. Ook krijgen patiënten met een GMD het supplement van € 4,00 voor raadplegingen na 18:00 en in het weekend, volledig terugbetaald door het ziekenfonds. Om een GMD aan te maken bij uw huisarts, hoeft u enkel Uw identiteitskaart kaart te laten inlezen.</p>

        <p>De praktijk is volledig geconventioneerd en rekent de officiele tarieven. Voor patiënten met een OMNI statuut passen wij altijd de derdebetalersregeling toe.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}