{% extends "layout.html.njk" %}

{% block meta %}
  <title>Griepspuit - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Van Thuyne &amp; Pia Verhoeven</title>
  <meta name="description" content="Informatie over wanneer u bij ons griepspuiten kan krijgen.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Griepspuit</h2>
      <p>Beste patiënten,</p>
      <p>Naar jaarlijkse gewoonte bezorgen we aan alle patiënten ouder dan 50 en met een geldig GMD een voorschrift voor een griepvaccin. Door technische redenen is het dit jaar niet vlot verlopen.</p>
      <p>Het vaccin kan gegeven worden op huisbezoek, tijdens de gewone raadpleging en vooral op de speciale raadplegingen die hiervoor voorzien zijn.</p>
      <p>Deze raadplegingen gaan door op:</p>
      <ul>
        <li>Woensdag 23 oktober 2019 tussen 18.00 en 19.00 uur</li>
        <li>Woensdag 6 november 2019 tussen 18.00 en 19.00 uur</li>
      </ul>
      <p>Voor deze raadplegingen moet je geen afspraak maken.</p>
      <p>Het griepvaccin krijg je best in oktober of november. Het geeft een goede bescherming tegen de complicaties van de griep en je wordt zeker niet ziek van het spuitje. Soms kan de bovenarm enkele dagen rood en gevoelig zijn.</p>
      <p>Van harte,</p>
      <p>
        <em>Huisartsen<br>Marc De Jaeger,
          <br>Sara Van Thuyne,
          <br>Cedric Leys,
          <br>Ellen Van Hoecke</em>
      </p>
    </div>
  </section>
{% endblock %}