{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Praktijk Centrum Lochristi</title>
  {{/replace}}

  {{#replace "main"}}

    <div class="art-article">
      <div id="landing">
        <h1>Welkom</h1>
        <p>Welkom op onze praktijkwebsite. Hier&nbsp;kan&nbsp;u&nbsp;terecht&nbsp;bij&nbsp;...</p>
        <ul>
          <li><a href="/huisarts/raadpleging">Huisarts Marc De Jaeger</a></li>
          <li><a href="/huisarts/raadpleging">Huisarts Sara Van Thuyne</a></li>
          <li><a href="/huisarts/raadpleging">Huisarts An Loones</a></li>
          <li><a href="/psycholoog/introductie">Psychologe Mieke Soons</a></li>
          <li><a href="/kinderpsycholoog/introductie">Kinderpsychologe Els Bernaert</a></li>
          <li><a href="/kinderpsycholoog/introductie">Kinderpyschologe Maaike Buyst</a></li>
          <li><a href="/dietist/introductie">Diëtiste Céline Stadeus</a></li>
          <li><a href="/huisarts/raadpleging">Praktijkassistente Shanty Van Zele</a></li>
        </ul>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Maaike en Mieke (psychologen) zijn alletwee in bevallingsrust, maar zij worden vervangen door een collega.</p>
        <p>&nbsp;</p>
        <p><img src="/assets/img/praktijk-wachtzaal-2x.jpg" alt="wachtzaal" height="160" width="240"> <img src="/assets/img/praktijk-stethoscoop-2x.jpg" alt="stethoscoop" height="160" width="140"> <img src="/assets/img/praktijk-consultatieruimte-2x.jpg" alt="consultatieruimte" height="160" width="241"></p>
      </div>

    </div>

  {{/replace}}
{{/extend}}