<!DOCTYPE HTML>
<html lang="nl">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="copyright" content="Copyright 2011 all rights reserved by Jan Werkhoven">
    <meta name="developer" content="Jan Werkhoven jan@nabu.io www.nabu.io">
    <meta name="robots" content="index, follow">

    {{#block "meta"}}
      <title>Praktijkcentrum Lochristi</title>
      <meta name="description" content="Hier kan u terecht bij 3 huisartsen, 4 kinderpsychologen, 2 psychologe en 1 voedingsdeskundige. Gelegen net buiten de dorpskern van Lochristi.">
    {{/block}}

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="/assets/css/temporary.min.css" rel="stylesheet" type="text/css">
    <!-- <script src="/assets/js/main.min.js"></script> -->

  </head>

  <body>

    {{> header}}

    {{#block "main"}}
      <h2>Layout</h2>
    {{/block}}

    {{> footer}}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-26179509-5', 'auto');
      ga('send', 'pageview');
    </script>

  </body>

</html>
