{% extends "layout.html.njk" %}

{% block meta %}
  <title>Psycholoog Lochristi - Isabelle Ottermans</title>
  <meta name="description" content="Lees meer over psychologe Isabelle Ottermans.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Introductie</h2>
      <h3>Psychologe Isabelle Ottermans</h3>
      <h4>Psycholoog voor volwassenen en ouderen</h4>
      <p>
        In 2006 studeerde Isabelle af als klinisch psycholoog, daarna genoot zij een therapieopleiding oplossingsgerichte cognitieve en systemische therapie en coaching aan het Korzybski Instituut te Brugge.</p>
      <p>
        Isabelle kan jou helpen bij stress, burnout, angst, depressie, relatieproblemen, psychosomatische klachten, levensfaseproblemen, rouw en andere verwerkingsproblemen.
      </p>
      <p>
        Tijdens het therapeutisch proces wordt stil gestaan bij je zorgen en je noden, je sterktes en je veranderingswensen. Er wordt bekeken wat er nodig is om te komen tot een nieuw evenwicht, een optimaal functioneren zodat jij als mens weer met voldoende veerkracht in het leven staat.</p>
      <h4>Tabakoloog - rookstopconsulent</h4>
      <p>
        Een erkend tabakoloog kan u helpen bij het stoppen met roken.
      </p>
      <p>
        De sessies rookstopbegeleiding zijn terugbetaald door de mutualiteit.</p>
      <p>
        Heb je nog vragen of twijfels over de begeleiding, aarzel dan niet om Isabelle te contacteren op 0479 32 30 72.</p>
    </div>
  </section>
{% endblock %}