{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Voor wie - Kinderpsycholoog Lochristi - Liesje Van De Velde, Els Bernaert, Maaike Buyst &amp; Evelien Van Dooren</title>
  {{/replace}}

  {{#replace "main"}}

    <div class="art-article">
      <h1>Kinderpsychologen</h1>
      <h3>Voor wie?</h3>
      <p>Voor kinderen en jongeren van 4 tot 21 jaar met:</p>
      <ul>
        <li><strong>Gedragsproblemen</strong>:&nbsp;agressief gedrag, woedebuien, ...</li>
        <li><strong>Emotionele problemen</strong>:&nbsp;rouw, scheidingsproblemen, angst, depressieve stemmingen, somberheid, piekeren, minderwaardigheidsgevoelens, ...</li>
        <li><strong>Relationele problemen</strong>:&nbsp;pestproblemen, geringe sociale vaardigheden, problemen met broers/zussen en/of ouders, ...</li>
        <li><strong>Lichamelijke klachten zonder aanwijsbare reden</strong>:&nbsp;hoofdpijn, buikpijn, ...</li>
        <li><strong>Relaxatie</strong></li>
        <li><strong>Opvoedingsondersteuning</strong></li>
        <li><strong>Sociale vaardigheden</strong>&nbsp;(indien een groep gevormd kan worden)</li>
      </ul>
    </div>

  {{/replace}}
{{/extend}}