{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Voor wie - Kinderpsycholoog Lochristi - Liesje Van De Velde, Els Bernaert, Maaike Buyst &amp; Evelien Van Dooren</title>
    <meta name="description" content="Voor kinderen en jongeren van 4 tot 21 jaar met: gedragsproblemen, emotionele problemen, relationele problemen, opvoedingsondersteuning en meer.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">

        {{> stopzetting}}
        
        <h2>Voor wie?</h2>
        <p>Voor kinderen en jongeren van 4 tot 21 jaar met:</p>
        <ul>
          <li><strong>Gedragsproblemen</strong>: agressief gedrag, woedebuien, ...</li>
          <li><strong>Emotionele problemen</strong>: rouw, scheidingsproblemen, angst, depressieve stemmingen, somberheid, piekeren, minderwaardigheidsgevoelens, ...</li>
          <li><strong>Relationele problemen</strong>: pestproblemen, geringe sociale vaardigheden, problemen met broers/zussen en/of ouders, ...</li>
          <li><strong>Lichamelijke klachten zonder aanwijsbare reden</strong>: hoofdpijn, buikpijn, ...</li>
          <li><strong>Relaxatie</strong></li>
          <li><strong>Opvoedingsondersteuning</strong></li>
          <li><strong>Sociale vaardigheden</strong> (indien een groep gevormd kan worden)</li>
        </ul>
      </div>
    </section>

  {{/replace}}
{{/extend}}
