{% extends "layout.html.njk" %}

{% block meta %}
  <title>Opleidingspraktijk (HAIO) - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Van Thuyne &amp; Pia Verhoeven</title>
  <meta name="description" content="Onze praktijk is erkend als universitaire opleidingspraktijk voor stagiairs en Huisartsen in Opleiding (HAIO’s).">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Opleidingspraktijk (HAIO)</h2>
      <p>Onze praktijk is erkend als universitaire opleidingspraktijk voor stagiairs en
        <a href="http://www.huisartsentandem.be/huisartsen/haio-huisarts-opleiding/" target="_blank" rel="noopener">
          <nobr>Huisartsen in Opleiding</nobr>
        </a>
        (HAIO's). Dit vraagt een duidelijk engagement van ons om in een kwaliteitsvolle opleiding te voorzien en te werken volgens erkende standaarden. Maar dit vraagt ook een engagement van jullie, de patiënten van deze praktijk om aan dit project jullie medewerking en vertrouwen te geven. De HAIO-opleiding duurt in het totaal 3 jaar.</p>
      <h3>Dr. Elise Veys (HAIO)</h3>
      <p>Dr. Elise Veys is HAIO in onze praktijk van oktober 2020 tot en met maart 2022.</p>
      <h3>Dr. Emma De Pestel (HAIO)</h3>
      <p>Dr. Emma De Pestel is HAIO in onze praktijk van april 2021 tot en met september 2022.</p>
    </div>
  </section>
{% endblock %}