{% extends "layout.html.njk" %}

{% block meta %}
  <title>Opleidingspraktijk (HAIO) - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Van Thuyne &amp; Pia Verhoeven</title>
  <meta name="description" content="Onze praktijk is erkend als universitaire opleidingspraktijk voor stagiairs en Huisartsen in Opleiding (HAIO’s).">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Opleidingspraktijk (HAIO)</h2>
      <p>Onze praktijk is erkend als universitaire opleidingspraktijk voor stagiairs en
        <a href="http://www.huisartsentandem.be/huisartsen/haio-huisarts-opleiding/" target="_blank" rel="noopener">
          <nobr>Huisartsen in Opleiding</nobr>
        </a>
        (HAIO’s). Dit vraagt een duidelijk engagement van ons om in een kwaliteitsvolle opleiding te voorzien en te werken volgens erkende standaarden. Maar dit vraagt ook een engagement van jullie, de patiënten van deze praktijk om aan dit project jullie medewerking en vertrouwen te geven. De HAIO-opleiding duurt in het totaal 2 jaar.</p>
      <h3>Ellen Van Hoecke (HAIO)</h3>
      <p>Ellen Van Hoecke is afgestudeerd als art in 2019 en volgt in de praktijk een opleiding van 18 maand tot huisarts.</p>
      <h3>Elise Veys (HAIO)</h3>
    </div>
  </section>
{% endblock %}