{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Huisbezoek - Huisarts Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne, Dr Charlotte Heyse &amp; Dr Omima Ahmed</title>
    <meta name="description" content="Hoe u een huisbezoek door een van onze huisartsen kan aanvragen.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Introductie</h2>
        <h3>Onze huisartsen</h3>
        <ul class="people">
          <li><i class="fa fa-user-md"></i>Huisarts Marc De Jaeger</li>
          <li><i class="fa fa-user-md"></i>Huisarts Sara Vanthuyne</li>
          <li><i class="fa fa-user-md"></i>Huisarts Charlotte Heyse</li>
          <li><i class="fa fa-user-md"></i>Huisarts Omima Ahmed - <em>in opleiding</em></li>
        </ul>
        <p>De huisartsen Marc De Jaeger, Sara Van Thuyne en Charlotte Heyse hebben gekozen om in een maatschap te werken. Hierdoor is een betere dienstverlening mogelijk en kunnen we de wachttijden beperken. Er is dagelijks overleg tussen alle huisartsen in de praktijk en wij volgen de recentste ontwikkelingen in de huisartsgeneeskunde.</p>
        <p>U kunt altijd tijdens het spreekuur voor een raadpleging bij een specifieke dokter vragen, je wacht dan best even tot de arts van jouw keuze een patiënt binnenroept.</p>
        <p>Voor huisbezoeken aangevraagd voor 10.00 uur is dit ook mogelijk. Latere oproepen worden gedaan door de dokter met praktijkwacht.</p>
        <p>De huisartsenpraktijk is officieel erkend en aangesteld als universitaire opleidingspraktijk voor stagairs en huisartsen in opleiding (HAIO).. Vanaf 1 maart start Dokter Omima Ahmed haar opleiding tot huisarts in de praktijk.</p>
        <p>Meer op de pagina <a href="/huisarts/nuttige-informatie">nuttige informatie</a>.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
