{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Wij zijn wij? - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne &amp; Dr Charlotte Heyse</title>
    <meta name="description" content="De huisartsen Marc De Jaeger, Sara Van Thuyne en Charlotte Heyse hebben gekozen om in een maatschap te werken. Hierdoor is een betere dienstverlening mogelijk en kunnen we de wachttijden beperken. Er is dagelijks overleg tussen alle huisartsen in de praktijk en wij volgen de recentste ontwikkelingen in de huisartsgeneeskunde.</p>">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Wie zijn wij?</h2>
        <p>De huisartsen Marc De Jaeger, Sara Van Thuyne en Charlotte Heyse hebben gekozen om in een maatschap te werken. Hierdoor is een betere dienstverlening mogelijk en kunnen we de wachttijden beperken. Er is dagelijks overleg tussen alle huisartsen in de praktijk en wij volgen de recentste ontwikkelingen in de huisartsgeneeskunde.</p>
        <p>Onze huisartsen worden bijgestaan door praktijkassistente Shanty Van Zele.</p>
        <ul class="fotos">
          <li>
            <h3>Dr. Marc De Jaeger</h3>
            <img src="/assets/img/huisarts-dr-marc-de-jaeger.jpg" alt="Huisarts Dr. Marc De Jaeger" width="787" height="500">
          </li>
          <li>
            <h3>Dr. Sara Van Thuyne</h3>
            <img src="/assets/img/huisarts-dr-sara-van-thuyne.jpg" alt="Huisarts Dr. Sara Van Thuyne" width="500" height="644">
          </li>
          <li>
            <h3>Dr. Charlotte Heyse</h3>
            <img src="/assets/img/huisarts-dr-charlotte-heyse.jpg" alt="Huisarts Dr. Charlotte Heyse" width="593" height="500">
          </li>
        </ul>
      </div>
    </section>

  {{/replace}}
{{/extend}}
