{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Huisbezoek - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne &amp; Dr Charlotte Heyse</title>
    <meta name="description" content="Hoe u een huisbezoek door een van onze huisartsen kan aanvragen.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Introductie</h2>
        <h3>Onze huisartsen</h3>
        <ul class="people">
          <li><i class="fa fa-user-md"></i>Huisarts Marc De Jaeger</li>
          <li><i class="fa fa-user-md"></i>Huisarts Sara Van Thuyne</li>
          <li><i class="fa fa-user-md"></i>Huisarts Charlotte Heyse</li>
        </ul>
        <p>De huisartsen Marc De Jaeger, Sara Van Thuyne en Charlotte Heyse hebben gekozen om in een maatschap te werken. Hierdoor is een betere dienstverlening mogelijk en kunnen we de wachttijden beperken. Er is dagelijks overleg tussen alle huisartsen in de praktijk en wij volgen de recentste ontwikkelingen in de huisartsgeneeskunde.</p>
        <h3>Afsprakensysteem</h3>
        <p><strong>Vanaf mei 2017 zal er enkel nog op afspraak gewerkt worden. Via de online agenda of via <a href="/huisarts/contact">telefonisch contact</a> zal een afspraak kunnen gemaakt worden bij een arts naar keuze.</strong> Voorlopig werken we nog op vrije raadpleging. U kunt tijdens het spreekuur altijd voor een raadpleging bij een specifieke dokter vragen, je wacht dan best even tot de arts van jouw keuze een patiënt binnenroept.</p>
        <h3>Huisbezoeken</h3>
        <p><a href="/huisarts/huisbezoek">Huisbezoeken</a> dienen vóór 10.00 uur telefonisch aangevraagd worden en zijn er voor patiënten die zich niet of moeilijk kunnen verplaatsen (hoogbejaarden en ernstig zieken).</p>
        <h3>Opleidingspraktijk</h3>
        <p>Onze praktijk is erkend als universitaire opleidingspraktijk voor stagiairs en Huisartsen in Opleiding (HAIO’s). Dit vraagt een duidelijk engagement van ons om in een kwaliteitsvolle opleiding te voorzien en te werken volgens erkende standaarden. Maar dit vraagt ook een engagement van jullie, de patiënten van deze praktijk om aan dit project jullie medewerking en vertrouwen te geven. De HAIO-opleiding duurt in het totaal 2 jaar. We bedanken dokter Omima Ahmed voor de samenwerking.</p>
        <p>Vanaf september 2017 verwelkomen we dokter Jelle Van Nieuwenhuyze, als zijnde de nieuwe HAIO.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
