{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Contact - Huisarts Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne &amp; Dr An Loones</title>
    <meta name="description" content="Neem contact op met onze huisartsen Dr Marc De Jaeger, Dr Sara Vanthuyne &amp; Dr An Loones.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Contact</h2>
        {{> huisartsen}}
        <p>Voor huisbezoeken, <a href="/huisarts/huisbezoek">klik hier</a>.</p>
        <p>Voor spoedgevallen, <a href="/huisarts/spoedgevallen">klik hier</a>.</p>
        <p>Voor alle ander gevallen:</p>
        <dl>
          <dt>Tel:</dt>
          <dd>09.355.92.15</dd>
          <dt>Fax:</dt>
          <dd>09.355.92.83</dd>
          <dt>Email:</dt>
          <dd><a href="mailto:info@praktijkcentrumlochristi.be" target="_blank">info@praktijkcentrumlochristi.be</a></dd>
          <dt>Adres:</dt>
          <dd>Koning Leopold III Laan 4
            <br>9080 Lochristi</dd>
        </dl>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10022.594730168114!2d3.8322099907445604!3d51.09649079780356!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c377e8f1f444e7%3A0x3441789f3fc93313!2sKoning+Leopold+III-laan+4%2C+9080+Lochristi%2C+Belgium!5e0!3m2!1sen!2sau!4v1423397289361" width="100%" height="450" frameborder="0"></iframe>
      </div>
    </section>

  {{/replace}}
{{/extend}}