<footer>
  <div class="inner">
    {{>nav}}
    <p>Website door <a href="mailto:jw@nabu.io" target="_blank">Jan Werkhoven</a> | <a href="http://sanmax.afsprakenbeheer.be/" target="_blank">Login agenda</a></p>
  </div>
</footer>