<footer>
  <div class="inner">
    {{>nav}}
    <p>Website door <a href="mailto:jw@nabu.io" target="_blank">Jan Werkhoven</a> | Foto's door <a href="https://twitter.com/anjavdfraenen" target="_blank">Anja Van Der Fraenen</a></p>
  </div>
</footer>
