<footer>
  <div class="inner">
    <p>Website door <a href="http://nabu.io" target="_new" title="Nabu Websites">Nabu.io</a> | <a href="http://sanmax.afsprakenbeheer.be/" target="_blank">Login agenda</a></p>
  </div>
</footer>