<footer>
  <div class="inner">
    {{>nav}}
    <p><nobr>Website door <a href="mailto:jw@nabu.io" target="_blank">Jan Werkhoven</a></nobr> <span>|</span> <nobr>Foto's door <a href="https://twitter.com/anjavdfraenen" target="_blank">Anja Van Der Fraenen</a></nobr></p>
  </div>
</footer>
