<header>
  <div class="inner">
    <h1>Praktijkcentrum Lochristi</h1>
    <div class="logo">
      <img src="/assets/img/praktijkcentrum-lochristi-logo.svg" width="72" height="72" onerror="this.onerror=null; this.src='/assets/img/praktijkcentrum-lochristi@2x.png'" alt="Praktijkcentrum Lochristi logo" />
    </div>
    <h1>Praktijkcentrum Lochristi</h1>
    {{> nav}}
  </div>
</header>