<header>
  <div class="inner">
    <h1>Praktijkcentrum Lochristi</h1>
    <div class="logo">
      <div class="symbol"></div>
    </div>
    <h1>Praktijkcentrum Lochristi</h1>
    {{> nav}}
  </div>
</header>