<ul class="people">
  <li><i class="fa fa-user-md"></i>Huisarts Marc De Jaeger</li>
  <li><i class="fa fa-user-md"></i>Huisarts Sara Vanthuyne</li>
  <li><i class="fa fa-user-md"></i>Huisarts An Loone (in opleiding)</li>
</ul>