<nav>
  <ul>
    <li>
      <a href="/">Welkom</a>
    </li>
    <li>
      <a href="javascript:void(0)" name="huisarts">Huisarts</a>
      <ul>
        <li>
          <a href="/huisarts/introductie">Introductie</a>
        </li>
        <li>
          <a href="/huisarts/raadpleging">Raadpleging</a>
        </li>
        <li>
          <a href="/huisarts/huisbezoek">Huisbezoek</a>
        </li>
        <li>
          <a href="/huisarts/spoedgeval">Spoedgeval</a>
        </li>
        <li>
          <a href="/huisarts/wachtdienst">Wachtdienst</a>
        </li>
        <li>
          <a href="/huisarts/tarieven">Tarieven</a>
        </li>
        <li>
          <a href="/huisarts/riziv">RIZIV</a>
        </li>
        <li>
          <a href="/huisarts/contact">Contact</a>
        </li>
        <li>
          <a href="/huisarts/nuttige-links">Nuttige links</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)">Kinderpsycholoog</a>
      <ul>
        <li>
          <a href="/kinderpsycholoog/stopzetting"><mark>Stopzetting</mark></a>
        </li>
        <li>
          <a href="/kinderpsycholoog/introductie">Introductie</a>
        </li>
        <li>
          <a href="/kinderpsycholoog/voor-wie">Voor wie?</a>
        </li>
        <li>
          <a href="/kinderpsycholoog/werkwijze">Werkwijze</a>
        </li>
        <li>
          <a href="/kinderpsycholoog/tarieven">Tarieven</a>
        </li>
        <li>
          <a href="/kinderpsycholoog/contact">Contact</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)">Psycholoog</a>
      <ul>
        <li>
          <a href="/psycholoog/introductie">Introductie</a>
        </li>
        <li>
          <a href="/psycholoog/voor-wie">Voor wie?</a>
        </li>
        <li>
          <a href="/psycholoog/behandeling">Behandeling</a>
        </li>
        <li>
          <a href="/psycholoog/tarieven">Tarieven</a>
        </li>
        <li>
          <a href="/psycholoog/contact">Contact</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)e">Diëtist</a>
      <ul>
        <li>
          <a href="/dietist/introductie">Introductie</a>
        </li>
        <li>
          <a href="/dietist/werkwijze">Werkwijze</a>
        </li>
        <li>
          <a href="/dietist/terugbetaling">Terugbetaling</a>
        </li>
        <li>
          <a href="/dietist/contact">Contact</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
