<nav>
  <ul>
    <li>
      <a href="/">Welkom</a>
    </li>
    <li>
      <a href="/huisarts/raadpleging">Huisartsen</a>
      <ul>
        <li>
          <a href="/huisarts/raadpleging">Raadpleging</a>
        </li>
        <li>
          <a href="/huisarts/huisbezoek">Huisbezoek</a>
        </li>
        <li>
          <a href="/huisarts/spoedgeval">Spoedgeval</a>
        </li>
        <li>
          <a href="/huisarts/wachtdienst">Wachtdienst</a>
        </li>
        <li>
          <a href="/huisarts/tarieven">Tarieven</a>
        </li>
        <li>
          <a href="/huisarts/nuttige-informatie">Nuttige informatie</a>
        </li>
        <li>
          <a href="/huisarts/contact">Contact</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/psycholoog/introductie">Psychologen</a>
      <ul>
        <li>
          <a href="/psycholoog/introductie">Introductie</a>
        </li>
        <li>
          <a href="/psycholoog/voor-wie">Voor wie?</a>
        </li>
        <li>
          <a href="/psycholoog/behandeling">Behandeling</a>
        </li>
        <li>
          <a href="/psycholoog/tarieven">Tarieven</a>
        </li>
        <li>
          <a href="/psycholoog/contact">Contact</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/kinderpsycholoog/introductie">Kinderpsychologen</a>
      <ul>
        <li>
          <a href="/kinderpsycholoog/introductie">Introductie</a>
        </li>
        <li>
          <a href="/kinderpsycholoog/algemeen">Algemeen</a>
        </li>
        <li>
          <a href="/kinderpsycholoog/voor-wie">Voor wie?</a>
        </li>
        <li>
          <a href="/kinderpsycholoog/behandeling">Behandeling</a>
        </li>
        <li>
          <a href="/kinderpsycholoog/tarieven">Tarieven</a>
        </li>
        <li>
          <a href="/kinderpsycholoog/contact">Contact</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/dietist/introductie">Diëtiste</a>
      <ul>
        <li>
          <a href="/dietist/introductie">Introductie</a>
        </li>
        <li>
          <a href="/dietist/werkwijze">Werkwijze</a>
        </li>
        <li>
          <a href="/dietist/terugbetaling">Terugbetaling</a>
        </li>
        <li>
          <a href="/dietist/contact">Contact</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>