<section id="stopzetting">
  <div>
    <p>Onze Kinderpsychologen zullen vanaf 1 december 2016 hun aanbod niet langer van 'Koning Leopold III Laan 4, Lochristi' aanbieden, maar vanuit vershillende nieuwe locaties.</p>
    <p><a href="/kinderpsycholoog/stopzetting/">Meer informatie</a></p>
  </div>
</section>
