<div id="modal">
  <div class="overlay"></div>

  <div class="content">
    <section id="question-1">
      <h3>Heeft u last van één of meer van de volgende symptomen?</h3>
      <ul>
        <li>Hoesten</li>
        <li>Kortademigheid</li>
        <li>Thoracale pijn</li>
        <li>Koorts</li>
        <li>Verlies van geur en smaak</li>
        <li>Keelpijn</li>
        <li>Verstopte neus/Loopneus</li>
        <li>Spierpijnen</li>
        <li>Vermoeidheid</li>
        <li>Diarree</li>
        <li>Verergering van gekende luchtwegsymptomen (chronische bronchitis, astma…) zonder duidelijke oorzaak</li>
      </ul>
      <div class="buttons">
        <button class="yes">Ja</button>
        <button class="no">Nee</button>
      </div>
    </section>

    <section id="question-2">
      <h3>Heeft u de voorbije periode contact gehad met een COVID19 positief getest persoon?</h3>
      <div class="buttons">
        <button class="yes">Ja</button>
        <button class="no">Nee</button>
      </div>
    </section>

    <section id="question-3">
      <h3>Bent u in de voorbije periode teruggekomen van een hoog risico gebied voor COVID19?</h3>
      <div class="buttons">
        <button class="yes">Ja</button>
        <button class="no">Nee</button>
      </div>
    </section>

    <section id="call-us">
      <h3>Bel ons</h3>
      <p>Gelieve telefonisch een afspraak te maken gedurende de openingsuren van onze receptie:</p>
      <div class="buttons">
        <a href="tel:+3293559215" class="button">Bel 09 355 92 15</a>
      </div>
      <ul>
        <li>
          <p>Maandag</p>
          <p>7:30-12:00</p>
          <p>-</p>
          <p>16:30-19:00</p>
        </li>
        <li>
          <p>Dinsdag</p>
          <p>7:30-12:00</p>
          <p>-</p>
          <p>16:30-19:00</p>
        </li>
        <li>
          <p>Woensdag</p>
          <p>-</p>
          <p>13:00-16:30</p>
          <p>-</p>
        </li>
        <li>
          <p>Donderdag</p>
          <p>7:30-12:00</p>
          <p>-</p>
          <p>16:30-19:00</p>
        </li>
        <li>
          <p>Vrijdag</p>
          <p>7:30-12:00</p>
          <p>-</p>
          <p>16:30-19:00</p>
        </li>
      </ul>
    </section>

    <section id="book-online">
      <h3>Boek online</h3>
      <p>Gelieve een afspraak te boeken via Doctena, onze online afspraakplanner:</p>
      <div class="buttons">
        <a href="http://sanmax.afsprakenbeheer.be/e/aHN0UVJrME14VXVnbXRmNHRzbE9EVDRpT2pFRWFUNU1hbXUyZTVoUFc3Q0x2dGFzTElubWFBPT0%3D" target="_blank" rel="nofollow noreferrer" class="button">Open Doctena</a>
      </div>
    </section>
  </div>
</div>