<div id="modal">
  <div class="overlay"></div>

  <div class="content">
    <section id="question-1" class="centered">
      <h3>Heeft u last van één of meer van de volgende symptomen?</h3>
      <ul>
        <li>Koorts</li>
        <li>Hoesten</li>
        <li>Ademhalingsmoeilijkheden</li>
        <li>Verkoudheid</li>
        <li>Bovenste luchtwegsymptomen zoals hoofdpijn, keelpijn, oorpijn, loopneus, verstopte neus, ...</li>
        <li>Griepaal gevoel zoals spierpijn, algemeen onwel, ...</li>
        <li>Geur- en smaakverlies</li>
        <li>Diarree en braken</li>
        {# <li>Hoesten</li>
        <li>Kortademigheid</li>
        <li>Thoracale pijn</li>
        <li>Koorts</li>
        <li>Verlies van geur en smaak</li>
        <li>Keelpijn</li>
        <li>Verstopte neus/Loopneus</li>
        <li>Spierpijnen</li>
        <li>Vermoeidheid</li>
        <li>Diarree</li>
        <li>Verergering van gekende luchtwegsymptomen (chronische bronchitis, astma…) zonder duidelijke oorzaak</li> #}
      </ul>
      <div class="buttons">
        <button class="yes">Ja</button>
        <button class="no">Nee</button>
      </div>
    </section>

    <section id="infectious">
      <h3>Mogelijk infectieus</h3>
      <p>Gelieve een online afspraak te maken via onderstaande knop:</p>
      <div class="buttons">
        <a href="https://afspraken.doctena.be/e/aHN0UVJrME14VXVnbXRmNHRzbE9EVDRpT2pFRWFUNU1PVTN0WnhIcUJNNTh0a2FGUHR3L3JDaVpmK1VXd2JsRktKYU5uTHVZOTI4SnNTdVFJbXMrR3lBeHQyMjdoVHZ4ZTQzY2t5Mk1Hclh6T2UwK08zNmtDMGRqT1JTU2hkVXg%3D" target="_blank" rel="nofollow noreferrer" class="button">Open Doctena</a>
      </div>
      <p>Alternatief, neem telefonisch contact op tijdens de openingsuren van het onthaal:</p>
      {% include "partials/opening-times.njk" %}
      <div class="buttons">
        <a href="tel:+3293559215" class="button">Bel 09 355 92 15</a>
      </div>
    </section>

    <section id="not-infectious">
      <h3>Niet infectieus</h3>
      <p>Gelieve de onderstaande knop te gebruiken om een afspraak te maken voor niet infectie klachten / zaken zoals:</p>
      <ul>
        <li>Algemene consultatie</li>
        <li>Voorschriften en attesten</li>
        <li>Nuchter bloedonderzoek</li>
        <li>Gynaecologisch onderzoek</li>
        <li>Pre-operatief consult</li>
        <li>Psychologisch consult</li>
        <li>Verzekeringsonderzoek</li>
        <li>...</li>
      </ul>
      <div class="buttons">
        <a href="https://afspraken.doctena.be/e/aHN0UVJrME14VXVnbXRmNHRzbE9EVDRpT2pFRWFUNU1PVTN0WnhIcUJNN0Y5U09FQlZtYXg3dTA2N3E4Z0ZuaGpPTkZnblE1MTluZFdldDQ2RlZYV3NNdlc2UXMreG5wVDIvZEpqQUtma0ozM2ZSQkl3ZXdIaDRTYlFLV0FSNWhzY1V3QzdwVGJteHFrdjFZOHJlY3JBPT0%3D" target="_blank" rel="nofollow noreferrer" class="button">Open Doctena</a>
      </div>
      <p>Zijn alle afspraken online ingenomen en wenst u dezelfde dag te kunnen langskomen neem dan telefonisch contact op tijdens de openingsuren van het onthaal:</p>
      {% include "partials/opening-times.njk" %}
      <div class="buttons">
        <a href="tel:+3293559215" class="button">Bel 09 355 92 15</a>
      </div>
    </section>
  </div>
</div>
