<footer>
  <div class="inner">
    {% include "partials/nav.njk" %}
    <p>
      <nobr>Website door
        <a href="mailto:jw@nabu.io" target="_blank" rel="noopener">Jan Werkhoven</a>
      </nobr>
      <span>|</span>
      <nobr>Foto's door
        <a href="https://twitter.com/anjavdfraenen" target="_blank" rel="noopener">Anja Van Der Fraenen</a>
      </nobr>
    </p>
  </div>
</footer>