<nav>
  <ul>
    <li>
      <a href="/">Welkom</a>
    </li>
    <li>
      <a href="javascript:void(0)" name="huisarts">Huisartsen</a>
      <ul>
        <li>
          <a href="/huisarts/covid">
            <mark>COVID 19 (Corona)</mark>
          </a>
        </li>
        <li>
          <a href="/huisarts/griepvaccin">
            <mark>Griepvaccin</mark>
          </a>
        </li>
        <li>
          <a href="/huisarts/wie-zijn-wij">Wie zijn wij?</a>
        </li>
        <li>
          <a href="/huisarts/raadpleging">Raadpleging</a>
        </li>
        <li>
          <a href="/huisarts/huisbezoek">Huisbezoek</a>
        </li>
        <li>
          <a href="/huisarts/spoedgeval">Spoedgeval</a>
        </li>
        <li>
          <a href="/huisarts/wachtdienst">Wachtdienst</a>
        </li>
        <li>
          <a href="/huisarts/tarieven">Tarieven</a>
        </li>
        <li>
          <a href="/huisarts/riziv">RIZIV</a>
        </li>
        <li>
          <a href="/huisarts/opleidingspraktijk">Opleidingspraktijk</a>
        </li>
        <li>
          <a href="/huisarts/nuttige-links">Nuttige links</a>
        </li>
        <li>
          <a href="/huisarts/contact">Contact</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)">Diëtiste</a>
      <ul>
        <li>
          <a href="/dietist/introductie">Introductie</a>
        </li>
        <li>
          <a href="/dietist/werkwijze">Werkwijze</a>
        </li>
        <li>
          <a href="/dietist/terugbetaling">Terugbetaling</a>
        </li>
        <li>
          <a href="/dietist/contact">Contact</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/secretariaat">Secretariaat</a>
    </li>
  </li>
</ul>
</nav>