{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Wachtdienst - Huisarts Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne, Dr Charlotte Heyse &amp; Dr Omima Ahmed</title>
    <meta name="description" content="Zoekt u een huisarts 's avonds in de week of tijdens het weekend (vrijdag 20:00 uur tot maandag 8:00 uur) of op wettelijke feestdagen? Bel dan het centrale nummer 093.288.488 voor de huisarts van wacht in Lochristi.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Wachtdienst</h2>
        <p>Zoekt u een huisarts 's avonds in de week of tijdens het weekend (vrijdag 20:00 uur tot maandag 8:00 uur) of op wettelijke feestdagen? Bel dan het centrale nummer <a href="tel:093288488">093.288.488</a> voor de huisarts van wacht in Lochristi. De wachtdienst is enkel voor dringende problemen.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
