{% extends "layout.html.njk" %}

{% block meta %}
  <title>Secretariaat - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Van Thuyne &amp; Pia Verhoeven</title>
  <meta name="description" content="Informatie over waar en wanneer u bij ons voorschriften kan bekomen.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Secretariaat</h2>
      <p>Voor adminstratieve vragen kan u terecht bij onze praktijkassistentes Shanty Van Zele en Shaline De Wever. Ons secretariaat is open tijdens de volgende uren:</p>
      {% include "partials/opening-times.njk" %}
    </div>
  </section>
{% endblock %}