{% extends "layout.html.njk" %}

{% block meta %}
  <title>Secretariaat - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Van Thuyne &amp; Pia Verhoeven</title>
  <meta name="description" content="Informatie over waar en wanneer u bij ons voorschriften kan bekomen.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Secretariaat</h2>
      <p>Voor adminstratieve vragen kan u terecht bij onze praktijkassistentes Shanty Van Zele en Shaline De Wever. Ons secretariaat is open tijdens de volgende uren:</p>
      <ul>
        <li>Maandag:
          <nobr>16u30 - 19u00</nobr>
        </li>
        <li>Dinsdag:
          <nobr>07u30 - 12u00</nobr>
          &amp;
          <nobr>16u30 - 19u00</nobr>
        </li>
        <li>Woensdag:
          <nobr>13u00 - 16u30</nobr>
        </li>
        <li>Donderdag:
          <nobr>07u30 - 12u00</nobr>
          &amp;
          <nobr>16u30 - 19u00</nobr>
        </li>
        <li>Vrijdag:
          <nobr>07u30 - 12u00</nobr>
          &amp;
          <nobr>16u30 - 19u00</nobr>
        </li>
        <li>Zaterdag:
          <a href="/huisarts/wachtdienst">wachtdienst</a>
        </li>
        <li>Zondag:
          <a href="/huisarts/wachtdienst">wachtdienst</a>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}