{% extends "layout.html.njk" %}

{% block meta %}
  <title>Raadpleging - Huisartsen Lochristi - Dr Marc De Jaeger &amp; Dr Sara Vanthuyne</title>
  <meta name="description" content="Hier vindt u onze openingsuren en hoe u een afspraak kan maken. Voor uitslagen en informatie kan U enkel bellen tijdens de spreekuren op 09.355.92.15.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Raadpleging</h2>
      <h3>Afsprakensysteem</h3>
      <p>Om een betere dienstverlening mogelijk te maken en om de wachttijden te beperken, hebben we besloten om vanaf mei 2017 enkel nog op afspraak te werken. Via de
        <a href="http://sanmax.afsprakenbeheer.be/e/aHN0UVJrME14VXVnbXRmNHRzbE9EVDRpT2pFRWFUNU1hbXUyZTVoUFc3Q0x2dGFzTElubWFBPT0%3D" target="_blank" title="Maak een online boeking van onze huisartsen">
          <nobr>online agenda</nobr>
        </a>
        of via
        <a href="/huisarts/contact">
          <nobr>telefonisch contact</nobr>
        </a>
        zal een afspraak kunnen gemaakt worden bij een arts naar keuze.</p>
      <p>We hebben het liefst dat u een afspraak maakt via de
        <a href="http://sanmax.afsprakenbeheer.be/e/aHN0UVJrME14VXVnbXRmNHRzbE9EVDRpT2pFRWFUNU1hbXUyZTVoUFc3Q0x2dGFzTElubWFBPT0%3D" target="_blank" title="Maak een online boeking van onze huisartsen">
          <nobr>online agenda</nobr>
        </a>. Indien het niet meer mogelijk is om een afspraak te boeken, gelieve dan telefonisch contact op te nemen zodat we u de dag zelf nog kunnen helpen. Hiervoor is ruimte voorzien in onze agenda.</p>
      <p>In een huisartsenpraktijk is niets voorspelbaar. Ondanks dat we op afspraak werken en we ons zo strikt mogelijk aan de uren proberen houden, is het dus steeds mogelijk dat we opgeroepen worden voor een dringend
        <a href="/huisarts/huisbezoek">huisbezoek</a>. Gelieve hier rekening mee te houden.</p>
      <p>Gelieve u minstens 5 minuten op voorhand aan te melden aan het secretariaat met uw elektronische identiteitskaart.</p>
      <p>Als de afspraak niet lukt, gelieve dan tijdig telefonisch verwittigen.</p>
      <p>Er kunnen geen
        <a href="/huisarts/secretariaat">voorschriften</a>
        of attesten afgeleverd worden zonder consultatie.</p>
    </div>
  </section>
{% endblock %}