{% extends "layout.html.njk" %}

{% block meta %}
  <title>Raadpleging - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Van Thuyne &amp; Pia Verhoeven</title>
  <meta name="description" content="Hier vindt u onze openingsuren en hoe u een afspraak kan maken. Voor uitslagen en informatie kan U enkel bellen tijdens de spreekuren op 09.355.92.15.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Raadpleging</h2>

      <button class="book">Maak een afspraak</button>

      {# <div class="two-columns">
        <div class="left">
          <h4>INFECTIEUZE KLACHTEN</h4>
          <p>Indien u één of meerdere van de volgende symptomen hebt, graag een online afspraak te maken via onderstaande knop of neem telefonisch contact (09 355 92 15) op met ons onthaal.</p>
          <ul>
            <li>koorts</li>
            <li>hoesten en ademhalingsmoeilijkheden</li>
            <li>verkoudheid/bovenste luchtwegsymptomen (hoofdpijn, keelpijn, oorpijn, loopneus, verstopte neus,...)</li>
            <li>griepaal gevoel (spierpijn, algemeen onwel...)</li>
            <li>geur- en smaakverlies</li>
            <li>diarree en braken</li>
          </ul>
          <a href="https://afspraken.doctena.be/e/aHN0UVJrME14VXVnbXRmNHRzbE9EVDRpT2pFRWFUNU1PVTN0WnhIcUJNNTh0a2FGUHR3L3JDaVpmK1VXd2JsRktKYU5uTHVZOTI4SnNTdVFJbXMrR3lBeHQyMjdoVHZ4ZTQzY2t5Mk1Hclh6T2UwK08zNmtDMGRqT1JTU2hkVXg%3D" target="_blank" rel="noopener noreferrer" class="button">Maak een afspraak voor wél infectieuze klachten</a>
        </div>

        <div class="right">
          <h4>NIET INFECTIEUZE KLACHTEN</h4>
          <p>Indien u een afspraak wenst voor te maken voor niet infectie gerelateerde klachten (voorschriften en attesten, controle afspraak bij chronische problemen, nazicht van klachten..) kan u een afspraak maken via onderstaande knop.</p>
          <p>Zijn alle afspraken online ingenomen en wenst u dezelfde dag te kunnen langskomen neem dan telefonisch contact (09 355 92 15) op.</p>
          <a href="https://afspraken.doctena.be/e/aHN0UVJrME14VXVnbXRmNHRzbE9EVDRpT2pFRWFUNU1PVTN0WnhIcUJNN0Y5U09FQlZtYXg3dTA2N3E4Z0ZuaGpPTkZnblE1MTluZFdldDQ2RlZYV3NNdlc2UXMreG5wVDIvZEpqQUtma0ozM2ZSQkl3ZXdIaDRTYlFLV0FSNWhzY1V3QzdwVGJteHFrdjFZOHJlY3JBPT0%3D" target="_blank" rel="noopener noreferrer" class="button">Maak een afspraak voor niet infectieuze klachten</a>
        </div>
      </div> #}

      {# <p>
        <mark>Huidig is het niet mogelijk om online afspraken te maken</mark>
        in kader van de
        <a href="/huisarts/covid">COVID</a>
        pandemie. Het
        <a href="/secretariaat/">onthaal</a>
        is dagelijks beschikbaar van 7u30 tot 12u30 en van 13u30 tot 19u00 voor het inplannen van afspraken.
      </p>
      <button disabled="disabled">Maak een afspraak</button> #}

      <h3>Afsprakensysteem</h3>
      <p>Om een betere dienstverlening mogelijk te maken en om de wachttijden te beperken, hebben we besloten om vanaf mei 2017 enkel nog op afspraak te werken. Via
        <a href="/huisarts/contact">
          <nobr>telefonisch contact</nobr>
        </a>
        zal een afspraak kunnen gemaakt worden bij een arts naar keuze.</p>
      <p>In een huisartsenpraktijk is niets voorspelbaar. Ondanks dat we op afspraak werken en we ons zo strikt mogelijk aan de uren proberen houden, is het dus steeds mogelijk dat we opgeroepen worden voor een dringend
        <a href="/huisarts/huisbezoek">huisbezoek</a>. Gelieve hier rekening mee te houden.</p>
      <p>Gelieve u minstens 5 minuten op voorhand aan te melden aan het secretariaat met uw elektronische identiteitskaart.</p>
      <p>Als de afspraak niet lukt, gelieve dan tijdig telefonisch verwittigen.</p>
      <p>Er kunnen geen
        <a href="/huisarts/secretariaat">voorschriften</a>
        of attesten afgeleverd worden zonder consultatie.</p>
      {# <a href="http://sanmax.afsprakenbeheer.be/e/aHN0UVJrME14VXVnbXRmNHRzbE9EVDRpT2pFRWFUNU1hbXUyZTVoUFc3Q0x2dGFzTElubWFBPT0%3D" class="button" target="_blank" rel="noopener">Maak een afspraak</a> #}
    </div>
  </section>
{% endblock %}
