{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Kinderpsycholoog Lochristi - Liesje Van De Velde, Els Bernaert, Maaike Buyst &amp; Evelien Van Dooren</title>
    <meta name="description" content="Over onze kinderpsychologen: Liesje Van De Velde, Els Bernaert, Maaike Buyst &amp; Evelien Van Dooren.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner stopzetting">
        <h2>Stopzetting</h2>

        <p>Betreft: <mark>Stopzetting Psychologenpraktijk</mark></p>
        <p>Geachte,</p>
        <p>Tot op heden konden kinderen en jongeren (en hun ouders) met allerhande emotionele, relationele en gedragsmoeilijkheden terecht in onze psychologenpraktijk, gevestigd in Lochristi, Koning Leopold III Laan 4. Jarenlang hebben wij met veel enthousiasme en zorg de aangemelde kinderen en jongeren begeleid.</p>
        <p>Wegens uitbreiding van het huisartsenteam (dr Marc De Jaeger, dr Sara Van Thuyne, dr Charlotte Heyse en huisarts in opleiding dr Omima Ahmed) en hierbij aan verbonden ook de nood aan een extra ruimte, kunnen wij, tot onze spijt, niet langer gebruik maken van de huidige consultatieruimte.</p>
        <p>Wij zullen echter wel ons aanbod verder aanbieden, vanuit verschillende locaties.</p>
        <p>Hieronder kunt u een overzicht vinden van de adres- en contactgegevens van de psychologen, geldig vanaf 1 december 2016:</p>

        <hr>

        <h3>Liesje Van De Velde</h3>
        <p>Klinisch psychologe en psychotherapeut (experiëntiële en ontwikkelingsgerichte kinder- en jeugdpsychotherapie) momenteel in loopbaanonderbreking</p>

        <hr>

        <h3>Els Bernaert</h3>
        <div>
          <p>Klinisch psychologe, cliëntgericht spelcounselor en psychotherapeut i.o (experiëntieel integratieve therapie voor kinderen, jongeren en hun gezin)</p>
          <p><a href="mailto:ElsB.praktijk@gmail.com" target="_blank">ElsB.praktijk@gmail.com</a></p>
          <p>0494 75 16 15</p>
          <p>Ginko Therapeutische Groepspraktijk Lochristi (TGL)</p>
          <p>Bisschop Pieter Damantlaan 36, 9080 Lochristi</p>
        </div>

        <hr>

        <h3>Maaike Buyst</h3>
        <div>
          <p>klinisch psychologe en psychotherapeut i.o. (cliëntgerichte therapie en cognitieve gedragstherapie voor kinderen en jongeren)</p>
          <p><a href="mailto:MaaikeB.praktijk@gmail.com" target="_blank">MaaikeB.praktijk@gmail.com</a></p>
          <p>0497 07 78 54</p>
          <p>Praktijk gelegen bij logoteam Sandra Zaman</p>
          <p>Kapellestraat 7, 9160 Lokeren</p>
        </div>

        <hr>

        <h3>Evelien Van Dooren</h3>
        <div>
          <p>klinisch neuropsychologe en psychotherapeut i.o. (psychodynamische kindertherapie)</p>
          <p><a href="mailto:EvelienVD.praktijk@gmail.com" target="_blank">EvelienVD.praktijk@gmail.com</a></p>
          <p>0495/63 41 16</p>
          <p>Praktijk gelegen bij logoteam Sandra Zaman</p>
          <p>Kapellestraat 7, 9160 Lokeren</p>
        </div>

        <hr>

        <p>We willen jullie alleszins nog bedanken voor de voorbije samenwerking en het vertrouwen en we hopen dat we dit in de toekomst kunnen blijven doen!</p>
        <p>Hartelijke groeten,</p>
        <p><em>de kinderpsychologen</em></p>
        <p>Liesje Van De Velde, <br>Els Bernaert, <br>Maaike Buyst, <br>Evelien Van Dooren</p>

      </div>
    </section>

  {{/replace}}
{{/extend}}
