{% extends "layout.html.njk" %}

{% block meta %}
  <title>Huisbezoek - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Van Thuyne &amp; Pia Verhoeven</title>
  <meta name="description" content="Hoe u een huisbezoek door een van onze huisartsen kan aanvragen.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Huisbezoek</h2>
      <h3>Hoe aanvragen?</h3>
      <p>Huisbezoeken dienen
        <mark>liefst voor 10.00 uur</mark>
        aangevraagd worden, uitgezonderd spoedgevallen.</p>
      <p>Een huisbezoek kan enkel telefonisch aangevraagd worden op het nummer
        <a href="tel:+3293559215" target="_blank" rel="noopener">09.355.92.15</a>
        (niet via e-mail of voicemail). Hierdoor kunnen we de ernst van de oproep beter inschatten.</p>
      <p>Als u belt voor 10.00 uur dan kan u een huisbezoek vragen van de dokter van uw keuze. Nadien zullen de oproepen beantwoord worden door de dokter die praktijkwacht heeft.</p>
      <h3>Voor wie?</h3>
      <p>Huisbezoeken worden gereserveerd voor patiënten die omwille van gezondheisredenen onmogelijk naar de praktijk kunnen komen. Wij will u dus stimuleren zoveel mogelijk op afspraak te komen, aangezien we in de praktijk betere omstandigheden & meer middelen hebben om u te verzorgen.</p>
      <p>Bijvoorbeeld:</p>
      <ul>
        <li>Hoogbejaarden</li>
        <li>Ernstig zieken</li>
        <li>Patiënten die zich omwille van medische reden niet kunnen verplaatsen en niet kunnen rekenen op hulp van derden voor verplaatsing.</li>
      </ul>
    </div>
  </section>
{% endblock %}