body {
  font-family: $font-stack;
  color: $paragraph-color;
  font-weight: 400;
  font-size: 15px;
  line-height: 170%;
}
p {
  margin: 18px 0;
}
em {
  background: yellow;
  font-style: normal;
}
strong {
  color: #331C1C;
}
a {
  color: $link-color;
  &:hover {
    text-decoration: none;
    color: lighten($link-color,4%);
  }
  &[href^="tel:"] {
    font-weight: 700;
    text-decoration: none;
    color: $paragraph-color;
    &:hover {
      color: $link-color;
      text-decoration: underline;
    }
  }
}
h1 {
  color: $pcl-red-3;
  margin: 0;
  max-width: 180px;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
  color: #463939;
}
h2 {
  font-size: 31px;
  font-weight: 700;
  margin: 12px 0 52px;
  color: #A51313;
  line-height: 170%;
  @media (max-width: 600px) {
    margin: 10px 0 47px;
    line-height: 140%;
  }
}
h3 {
  font-size: 17px;
  line-height: 170%;
  font-weight: 700;
  margin: 47px 0 18px;
  color: #463939;
}
h4 {
  line-height: 170%;
  font-weight: 400;
  color: $pcl-red-3;
  margin: 18px 0;
  font-size: 15px;
  text-decoration: underline;
}
ul {
  margin: 18px 0;
  padding-left: 30px;
  &.people {
    padding: 0;
    li {
      list-style: none;
      padding: 0 0 0 40px;
      position: relative;
      i {
        position: absolute;
        left: 0;
        line-height: 170%;
        text-align: center;
        width: 40px;
      }
    }
  }
  &.spaced {
    li {
      margin-bottom: 18px;
    }
  }
  li {
    font-size: 15px;
    line-height: 170%;
    padding-left: 6px;
  }
}
iframe {
  margin-top: 30px;
}
dl {
  dd,
  dt {
    float: left;
  }
  dd {
    margin-left: 32px;
    @media (max-width: 360px) {
      margin-left: 10px;
    }
  }
  dt {
    width: 40px;
    clear: both;
  }
  &:after {
    @include clearfix;
  }
}
table {
  margin: 18px 0;
  tr {
    td {
      font-size: 15px;
      line-height: 170%;
      padding-right: 24px;
      vertical-align: top;
      nobr {
        width: 170px;
        display: inline-block;
      }
    }
  }
}
footer,
header,
section {
  @media (min-width: 601px) {
    padding-left: 16px;
    padding-right: 16px;
  }
  .inner {
    max-width: 750px;
    min-width: 320px;
    box-sizing: border-box;
    padding: 45px 45px 90px;
    margin: 0 auto;
  }
}
header {
  background: #FFFFFF url('../img/header-bg.jpg') no-repeat 50% 0;
  @media (min-width: 600px) {
    height: 135px;
  }
  @media (max-width: 780px) {
    background-position: -908px 0;
  }
  .inner {
    position: relative;
    padding: 10px 0 0;
    h1 {
      position: absolute;
      left: 90px;
      top: 19px;
      @media (max-width: 600px) {
        left: 106px;
      }
    }
  }
  .logo {
    position: absolute;
    left: 0;
    top: 16px;
    height: 72px;
    @media (max-width: 600px) {
      left: 16px;
    }
  }
  nav {
    background: #891515;
    background: -moz-linear-gradient(top, #891515 0%, #a81a1a 16%, #8d1616 52%, #6f1111 55%, #831515 100%);
    background: -webkit-linear-gradient(top, #891515 0%,#a81a1a 16%,#8d1616 52%,#6f1111 55%,#831515 100%);
    background: linear-gradient(to bottom, #891515 0%,#a81a1a 16%,#8d1616 52%,#6f1111 55%,#831515 100%);
    margin-top: 93px;
    @media (min-width: 601px) {
      height: 32px;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        padding: 0;
      }
    }
    > ul {
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      @media (max-width: 600px) {
        max-width: 380px;
        margin: 0 auto;
      }
      > li {
        position: relative;
        margin: 0 1px;
        &:last-child {
          > a {
            &:after {
              display: none;
            }
          }
        }
        &:hover {
          > ul {
            display: block;
          }
        }
        > a {
          line-height: 32px;
          height: 32px;
          padding: 0 13px;
          display: block;
          text-decoration: none;
          color: #FFF;
          @media (max-width: 600px) {
            padding: 0 10px;
          }
          &:hover {
            color: #FFF;
            background: $link-color;
          }
          &:after {
            content: ' ';
            position: absolute;
            width: 1px;
            height: 32px;
            right: -1px;
            background: rgba(255, 255, 255, 0.4);
            @media (max-width: 600px) {
              display: none;
            }
          }
        }
        > ul {
          display: none;
          @media (max-width: 600px) {
            display: none !important;
          }
          @media (min-width: 601px) {
            position: absolute;
            width: 180px;
            border: 1px solid #DDD;
            left: -1px;
            z-index: 1;
          }
          > li {
            &:first-child {
              border-top: 0;
            }
            &:last-child {
              a {
                border: 0;
              }
            }
            a {
              line-height: 32px;
              height: 32px;
              padding: 0 13px;
              display: block;
              text-decoration: none;
              background: #FFF;
              border-bottom: 1px solid #DDD;
              color: $paragraph-color;
            }
          }
        }
      }
    }
  }
}
section {
  .inner {
    border: 3px solid #EEE;
    border-top: 0;
    @media (max-width: 600px) {
      border: 0;
      border-radius: 0;
      padding: 45px 6% 12%;
    }
    @media (max-width: 320px) {
      padding: 45px 19px 38px;
    }
  }
  &#landing {
    h1,
    h2,
    h3,
    p,
    ul {
      text-align: center;
    }
    ul {
      margin: 20px 0;
      padding: 0;
      list-style: none;
      li {
        padding: 0;
        background: none;
        a {
          padding: 0 12px;
          display: inline-block;
          @media (max-width: 600px) {
            padding: 4px 12px;
          }
        }
      }
    }
    .images {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin: 60px 0 0;
      img {
        display: block;
        margin: 3px;
      }
    }
  }
}
footer {
  .inner {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    p {
      margin: 0;
      text-align: center;
    }
    nav {
      background: #F9F9F9;
      box-shadow: inset 0 30px 30px -30px RGBA(0,0,0,0.1);
      border-top: 1px solid #E4E4E4;
      padding-top: 40px;
      border-bottom: 1px solid #E4E4E4;
      margin-bottom: 20px;
      @media (min-width: 601px) {
        display: none;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          padding: 0;
          text-align: center;
          line-height: 36px;
          a {
            display: block;
          }
        }
      }
      > ul {
        > li {
          padding-bottom: 30px;
          padding-top: 20px;
          &:first-child {
            display: none;
          }
          > a {
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;
            cursor: default;
            color: $paragraph-color;
            padding-bottom: 8px;
          }
          > ul {
            > li {
              border-bottom: 1px solid #EAEAEA;
              &:first-child {
                border-top: 1px solid #EAEAEA;
              }
              > a {
                text-decoration: none;
                color: #F50000;
                &:hover {
                  background: #FFF;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
