// VARIABLES
$font-stack: 'Open Sans', 'OpenSans', 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, Sans-Serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 800;
$paragraph-color: #2B2626;
$link-color: #ff2929;
$pcl-red-1: #801617;
$pcl-red-2: #8D191C;
$pcl-red-3: #A81F23;