{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Raadpleging - Huisarts Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne, Dr Charlotte Heyse &amp; Dr Omima Ahmed</title>
    <meta name="description" content="Hier vindt u onze openingsuren en hoe u een afspraak kan maken. Voor uitslagen en informatie kan U enkel bellen tijdens de spreekuren op 09.355.92.15.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Raadpleging</h2>
        <h3>Telefonisch consult</h3>
        <p>Voor uitslagen en informatie kan U enkel bellen tijdens de spreekuren op <a href="tel:093559215">09.355.92.15</a>.</p>
        <h3>Raadpleging zonder afspraak</h3>
        <p>Op de onderstaande openingsuren kan u terecht voor raadplegingen zonder afspraak en het ophalen van laboresultaten. Ongeveer een half uur voor de raadpleging is de wachtzaal open. De dokters doen meestal gelijktijdig consultatie om overleg mogelijk te maken. Bij het aanmelden kan U steeds kiezen om op consultatie bij een specifieke dokter te gaan.</p>
        <table border="0" class="spreekuren">
          <tbody>
            <tr>
              <td>Maandag</td>
              <td>
                <nobr>08:00 - 09:30 DJ, VT, OA</nobr>
                <nobr>18:00 - 19:00 DJ, VT, OA</nobr>
              </td>
            </tr>
            <tr>
              <td>Dinsdag</td>
              <td>
                <nobr>08:00 - 09:30 DJ, VT</nobr>
                <nobr>18:00 - 19:00 DJ, VT</nobr>
              </td>
            </tr>
            <tr>
              <td>Woensdag</td>
              <td>
                <nobr>-</nobr>
                <nobr>14:00 - 16:00 DJ, OA</nobr>
              </td>
            </tr>
            <tr>
              <td>Donderdag</td>
              <td>
                <nobr>08:00 - 09:30 DJ, VT, OA</nobr>
                <nobr>18:00 - 19:00 2 dokters</nobr>
              </td>
            </tr>
            <tr>
              <td>Vrijdag</td>
              <td>
                <nobr>08:00 - 09:30 DJ, VT, OA</nobr>
                <nobr>18:00 - 19:00 2 dokters</nobr>
              </td>
            </tr>
            <tr>
              <td>Zaterdag</td>
              <td>
                <nobr>-</nobr>
                <nobr>-</nobr>
              </td>
            </tr>
            <tr>
              <td>Zondag</td>
              <td>
                <nobr>-</nobr>
                <nobr>-</nobr>
              </td>
            </tr>
          </tbody>
        </table>
        <p>DJ = Dokter De Jaeger<br>
        VT = Dokter Van Thuyne<br>
        OA = Dokter Omima Ahmed</p>
        <h3>Raadpleging op afspraak</h3>
        <p>Gelieve een afspraak te maken voor:</p>
        <ul>
          <li>Een kleine ingreep</li>
          <li>Een verzekeringsonderzoek</li>
          <li>Een psychologisch gesprek</li>
        </ul>
        <p>Een afspraak maken kan telefonisch op het nummer <a href="tel:093559215">09.355.92.15</a>.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
