{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Raadpleging - Huisarts Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne &amp; Dr An Loones</title>
    <meta name="description" content="Hier vindt u onze openingsuren en hoe u een afspraak kan maken. Voor uitslagen en informatie kan U enkel bellen tijdens de spreekuren op 09.355.92.15.">
  {{/replace}}

  {{#replace "main"}}

    <div class="art-article">
      <h1>Huisartsen: Marc&nbsp;De&nbsp;Jaeger, Sara&nbsp;Van Thuyne, An Loones <span style="font-size: 10pt;">(HAIO)</span></h1>
      <h3>Telefonisch consult</h3>
      <p>Voor uitslagen en informatie kan U enkel bellen tijdens de spreekuren op 09.355.92.15.</p>
      <h3>Raadpleging</h3>
      <p>Op de onderstaande openingsuren kan u terecht voor raadplegingen zonder afspraak en het ophalen van laboresultaten.&nbsp;Ongeveer een half uur voor de raadpleging is de wachtzaal open.&nbsp;De dokters doen meestal gelijktijdig consultatie om overleg mogelijk te maken. Bij het aanmelden kan U steeds kiezen om op consultatie bij een specifieke dokter te gaan.</p>
      <p>&nbsp;</p>
      <table border="0" class="spreekuren">
        <tbody>
          <tr>
            <td>
              <p>Ma<span>andag</span></p>
            </td>
            <td>8:00-9:30 DJ, VT, AL</td>
            <td>18:00-19:00&nbsp; DJ, VT, AL</td>
          </tr>
          <tr>
            <td>
              <p>Di<span>nsdag</span></p>
            </td>
            <td>8:00-9:30 DJ, VT</td>
            <td>18:00-19:00 DJ, VT</td>
          </tr>
          <tr>
            <td>
              <p>Wo<span>ensdag</span></p>
            </td>
            <td>-</td>
            <td>14:00-16:00 DJ, AL&nbsp;</td>
          </tr>
          <tr>
            <td>
              <p>Do<span>nderdag</span></p>
            </td>
            <td>8:00-9:30 DJ, VT, AL</td>
            <td>18:00-19:00, 2 dokters</td>
          </tr>
          <tr>
            <td>
              <p>Vr<span>ijdag</span></p>
            </td>
            <td>8:00-9:30 DJ, VT, AL</td>
            <td>18:00-19:00, 2 dokters</td>
          </tr>
          <tr>
            <td>
              <p>Za<span>terdag</span></p>
            </td>
            <td colspan="2">-</td>
          </tr>
          <tr>
            <td>
              <p>Zo<span>ndag</span></p>
            </td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
      <p>&nbsp;</p>
      <p>* DJ = Dokter De Jaeger</p>
      <p>* VT =Dokter Van Thuyne</p>
      <p>* AL= Dokter An Loones</p>
      <h3></h3>
      <h3>Raadpleging op afspraak</h3>
      <p>Gelieve een afspraak te maken voor:</p>
      <ul>
        <li>Een kleine ingreep</li>
        <li>Een verzekeringsonderzoek</li>
        <li>Een psychologisch gesprek</li>
      </ul>
      <p>Een afspraak maken kan telefonisch op het nummer&nbsp;09.355.92.15.</p>

    </div>

  {{/replace}}
{{/extend}}