{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Tarieven - Kinderpsycholoog Lochristi - Liesje Van De Velde, Els Bernaert, Maaike Buyst &amp; Evelien Van Dooren</title>
    <meta name="description" content="Een individuele sessie duurt 45 minuten en kost 40 euro per sessie.">
  {{/replace}}

  {{#replace "main"}}

    <div class="art-article">
      <h1>Kinderpsychologen</h1>
      <h3>Tarieven</h3>
      <p>Een individuele sessie duurt 45 minuten en kost 40 euro per sessie.</p>
      <p>&nbsp;</p>
      <p><span style="background-color: #ffff00;">Belangrijk</span>: Gelieve minstens een dag op voorhand te verwittigen indien&nbsp;een afspraak niet kan doorgaan, anders zijn we genoodzaakt de sessie aan te rekenen.</p>
      <p>&nbsp;</p>
      <p>Tot op heden betaalt het RIZIV de prestaties van psychologen nog niet terug. Afhankelijk van uw mutualiteit kan een tegemoetkoming voorzien worden.</p>
    </div>

  {{/replace}}
{{/extend}}