{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Voorschriften - Huisartsen Lochristi - Dr Marc De Jaeger &amp; Dr Sara Vanthuyne</title>
    <meta name="description" content="Informatie over waar en wanneer u bij ons voorschriften kan bekomen.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Voorschriften</h2>
        <p>Voorschriften kan u bekomen bij Shanty aan ons secretariaat tijdens de volgende uren:</p>
        <ul>
          <li>Maandag: 07u30 - 12u00</li>
          <li>Dinsdag: 07u30 - 12u00 &amp; 16u30 - 19u00</li>
          <li>Woensdag: 13u00 - 16u30</li>
          <li>Donderdag: 07u30 - 12u00 &amp; 16u30 - 19u00</li>
          <li>Vrijdag: 07u30 - 12u00 &amp; 16u30 - 19u00</li>
          <li>Zaterdag: <a href="/huisarts/wachtdienst">wachtdienst</a></li>
          <li>Zondag: <a href="/huisarts/wachtdienst">wachtdienst</a></li>
        </ul>
      </div>
    </section>

  {{/replace}}
{{/extend}}
