{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Voorschriften - Huisartsen Lochristi - Dr Marc De Jaeger &amp; Dr Sara Vanthuyne</title>
    <meta name="description" content="Informatie over waar en wanneer u bij ons voorschriften kan bekomen.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Voorschriften</h2>
        <p>Voorschriften kan u bekomen bij Shanty aan ons secretariaat tijdens de volgende uren:</p>
        <ul>
          <li>Maandag: <nobr>07u30 - 12u00</nobr></li>
          <li>Vrijdag: <nobr>07u30 - 12u00</nobr> &amp; <nobr>16u30 - 19u00</nobr></li>
          <li>Woensdag: <nobr>13u00 - 16u30</nobr></li>
          <li>Vrijdag: <nobr>07u30 - 12u00</nobr> &amp; <nobr>16u30 - 19u00</nobr></li>
          <li>Vrijdag: <nobr>07u30 - 12u00</nobr> &amp; </nobr>16u30 - 19u00</nobr></li>
          <li>Zaterdag: <a href="/huisarts/wachtdienst">wachtdienst</a></li>
          <li>Zondag: <a href="/huisarts/wachtdienst">wachtdienst</a></li>
        </ul>
      </div>
    </section>

  {{/replace}}
{{/extend}}
