{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Werkwijze - Kinderpsycholoog Lochristi - Liesje Van De Velde, Els Bernaert, Maaike Buyst &amp; Evelien Van Dooren</title>
    <meta name="description" content="Lees hoe onze kinderpsychologen te werk gaan met hun kleine patiënten.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Werkwijze</h2>
        <h3>De eerste stappen...</h3>
        <p>Na aanmelding wordt een eerste afspraak gemaakt waarin samen met u de vragen en moeilijkheden betreffende uw kind worden besproken. Onze manier van werken wordt met u doorlopen en samen bekijken we of ons aanbod kan tegemoet komen aan uw verwachtingen. Na dit verkennend gesprek wordt een belevingsonderzoek gepland waarbij we ons een beeld proberen vormen van de beleving van het kind of de jongere. Hoe ervaren zij bepaalde situaties? Waar hebben ze het moeilijk mee? Wat zijn hun zwaktes en hun krachten? Dit gebeurt aan de hand van observaties en speelse creatieve opdrachten afgestemd op de leeftijd van uw kind. De bevindingen worden samen met u doorlopen en een advies voor eventuele verdere begeleiding wordt aangekaart.</p>
        <h3>Vervolgens...</h3>
        <p>Onze begeleiding is afgestemd op de noden van uw kind en kan bestaan uit:</p>
        <ul class="spaced">
          <li><strong>Speltherapie:</strong>
            <br>Beelden zeggen meer dan woorden. Kinderen krijgen in spel vaak de woorden toegereikt die ze in taal niet vinden. Aan de hand van spel proberen we de sterktes van het kind aan te wakkeren om vlotter met hun vragen en moeilijkheden om te gaan. In fantasie krijgen kinderen de tijd en ruimte om hun belevingen een plaats te geven.
          </li>
          <li><strong>Gesprekstherapie:</strong>
            <br>In een gesprek wordt niet de klacht maar wel de ervaring van het kind of de jongere centraal gesteld. Het verwoorden van belevingen, gevoelens en cognities kan hulp bieden in de verwerking van moeilijke situaties. Veranderingen in de beleving via gesprek en de therapeutische relatie kunnen kracht geven om met moeilijkheden om te gaan in de realiteit.</li>
          <li><strong>Psychodrama</strong>:
            <br>Kinderen en jongeren worden in psychodrama gestimuleerd om aan de hand van drama en rolneming op creatieve wijze met situaties, met anderen en met zichzelf om te gaan. In plaats van spreken over bepaalde zaken worden de beelden in actie gebracht.</li>
        </ul>
        <p>We gaan samen met de ouders en het kind op pad. Ouders zijn dan ook onmisbaar in de begeleiding. Op regelmatige basis wordt een ouderbegeleiding gepland waarbij de evolutie van het kind wordt besproken en ruimte wordt gemaakt voor vragen en bemerkingen.</p>
        <h3>Toestemming beide ouders</h3>
        <p>Vooraleer we van start kunnen gaan met een kind of jongere is <em>toestemming door beide ouders nodig</em>.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
