{% extends "layout.html.njk" %}

{% block meta %}
  <title>Spoedgeval - Huisartsen Lochristi - Dr Marc De Jaeger &amp; Dr Sara Vanthuyne</title>
  <meta name="description" content="In geval van nood kan u de praktijk altijd rechtstreeks bellen op het nummer 09.355.92.15. Vraag echter niet nodeloos om dringende hulp, omdat dit mogelijk andere patiënten doet wachten.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Spoedgeval</h2>
      <p>In geval van nood kan u de praktijk altijd rechtstreeks bellen op het nummer
        <a href="tel:+3293559215" target="_blank" rel="noopener">09.355.92.15</a>. Vraag echter niet nodeloos om dringende hulp, omdat dit mogelijk andere patiënten doet wachten. Bij urgente levensbedreigende situaties kan u ook steeds het nummer
        <a href="tel:112" target="_blank" rel="noopener">112</a>
        opbellen.</p>
    </div>
  </section>
{% endblock %}