{% extends "layout.html.njk" %}

{% block meta %}
  <title>Wachtdienst - Huisartsen Lochristi - Dr Marc De Jaeger &amp; Dr Sara Vanthuyne</title>
  <meta name="description" content="Zoekt u een huisarts 's avonds in de week of tijdens het weekend (vrijdag 20:00 uur tot maandag 8:00 uur) of op wettelijke feestdagen? Bel dan het centrale nummer 093.288.488 voor de huisarts van wacht in Lochristi.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Wachtdienst</h2>
      <p>De wachtdienst van de huisartsen van Lochristi is actief tijdens weekdagen van 19.00 uur tot 7.30 uur en tijdens weekend- en feestdagen. Het centrale nummer voor de wachtdienst is
        <a href="tel:+3293288488" target="_blank">093.288.488</a>. De wachtdienst is enkel voor dringende problemen die niet kunnen wachten tot de normale praktijkuren.</p>
      <p>Nuttige link:
        <a href="http://www.huisarts.be/lijsten/" target="_blank">Huisarts van wacht</a>
      </p>
    </div>
  </section>
{% endblock %}