{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Werkwijze - Diëtiste Lochristi - Céline Stadeus</title>
    <meta name="description" content="Lees hoe voedings- en diëetkundige Céline Stadeus te werk gaat.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Werkwijze</h2>
        <p>Tijdens een <strong>eerste consultatie</strong> waarin naast een aantal administratieve zaken ook de basisbeginselen van het diëet uitgelegd worden, gaan we dieper in op uw leefgewoontes. Daarnaast bevraag ik aan de hand van een voedingsanamnese uw voedingsgewoonten. Op deze manier krijg ik een beeld over de gewoontes die u heeft. Op het einde van deze eerste, verkennende sessie krijgt u enkele algemene richtlijnen mee.</p>
        <p>Tijdens de <strong>tweede consultatie</strong> krijgt een aangepast dagschema mee op maat gemaakt. We gaan dieper in op gezonde voeding aan de hand van de actieve voedingsdriehoek. Op deze manier kan je je leven gaan herindelen qua voedingsgewoonten.</p>
        <p><strong>Derde consultatie en verdere opvolgconsultatie</strong>s:&nbsp;We bekijken je evolutie en voeding. We bespreken de moeilijkheden die er zijn. Verder gaan we in op de vragen die steeds gesteld kunnen worden. Op deze manier ondersteunen we het volhouden van de nieuwe leefgewoonten. Verdere praktische tips worden gegeven.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}