{% extends "layout.html.njk" %}

{% block meta %}
  <title>Wij zijn wij? - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Van Thuyne &amp; Pia Verhoeven</title>
  <meta name="description" content="De huisartsen Marc De Jaeger en Sara Van Thuyne hebben gekozen om in een maatschap te werken. Hierdoor is een betere dienstverlening mogelijk en kunnen we de wachttijden beperken. Er is dagelijks overleg tussen alle huisartsen in de praktijk en wij volgen de recentste ontwikkelingen in de huisartsgeneeskunde.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Wie zijn wij?</h2>
      <p>De huisartsen Marc De Jaeger en Sara Van Thuyne hebben gekozen om in een maatschap te werken. Hierdoor is een betere dienstverlening mogelijk en kunnen we de wachttijden beperken. Er is dagelijks overleg tussen alle huisartsen in de praktijk en wij volgen de recentste ontwikkelingen in de huisartsgeneeskunde.</p>
      <p>In 2020 zijn ook de huisartsen Cedric Leys en Pia Verhoeven toegetreden tot de maatschap van Praktijkcentrum Lochristi.</p>
      <p>Onze huisartsen worden bijgestaan door praktijkassistentes Shaline De Wever en Kimberly Descamps.</p>
      <p>Daarnaast worden de huisartsen ook bijgestaan door HAIO’s (huisartsen in opleiding).</p>
      <ul class="fotos">
        <li>
          <h3>Dr. Marc De Jaeger</h3>
          <p>Ik ben dokter Marc De Jaeger en ik ben huisarts sinds 1984.</p>
          <p>Ik ben de praktijk van Praktijkcentrum Lochristi een hele tijd geleden alleen gestart en ik heb deze zien uitgroeien tot de praktijk die ze vandaag is.</p>
          <p>Daarnaast ben ik ook CRA van het rusthuis Sint-Eligius te Zeveneken en ex-voorzitter van de Huisartsenkring van Lochristi. Ik heb een bijzondere interesse voor geriatrie en palliatieve zorg.</p>
          <img src="/assets/img/huisarts-dr-marc-de-jaeger.jpg" alt="Huisarts Dr. Marc De Jaeger" width="787" height="500">
        </li>
        <li>
          <h3>Dr. Sara Van Thuyne</h3>
          <p>Ik ben Dr Sara Van Thuyne, afgestudeerd in 2011 als arts en in 2013 als huisarts. Ik heb twee dochters (2012 en 2016) en één plusdochter (2007). Ik hou vooral van lezen, zwemmen en zon. Ik ben CRA van WZC Moervaartheem te Wachtebeke en voorzitter van de Huisartsenkring van Lochristi.</p>
          <p>Ik heb een bijzondere interesse voor pediatrie en geriatrie. Mijn visie op zorg is een open en transparante zorg met respect voor de wensen van de patiënt. Vroegtijdige zorgplanning is mijn stokpaardje. Ik ben gestart als huisarts in opleiding bij Dr De Jaeger en 10 jaar later zijn we reeds uitgegroeid tot een dynamische groepspraktijk met 6 artsen en 2 onthaalmedewerkers, waar ik zeer dankbaar voor ben.</p>
          <p>De reden waarom ik huisarts geworden ben is de volgende:</p>
          <blockquote cite="http://">
            “Een gezond mens heeft veel wensen, een ziek mens maar één”
          </blockquote>
          <p>Draag zorg voor jezelf en elkaar!</p>
          <img src="/assets/img/huisarts-dr-sara-van-thuyne.jpg" alt="Huisarts Dr. Sara Van Thuyne" width="500" height="644">
        </li>
        <li>
          <h3>Dr. Cedric Leys</h3>
          <p>Ik ben dr. Cedric Leys en ben sinds 2018 afgestudeerd als arts en sportarts. Mijn persoonlijke visie is bij te dragen aan een kwalitatieve zorg op maat voor iedereen. Naast de algemene huisartsgeneeskunde heb ik een buitengewone interesse in Sportgeneeskunde en ben ik ook erkend keuringsarts. Buiten het werk hou ik ook van alles wat met sport te maken heeft. Ik hou er ook van om tijd vrij te maken voor familie en vrienden. Verder ben ik geboren en getogen Lochristinaar.</p>
          <img src="/assets/img/haio-dr-cedric-leys.jpg" alt="Dr. Cedric Leys (HAIO)" width="640" height="1136" class="black-border max-500">
        </li>
        <li>
          <h3>Dr. Pia Verhoeven</h3>
          <p>Ik ben dokter Pia Verhoeven en ik ben afgestudeerd als algemeen arts in 2016 aan de universiteit van Brussel. Nadien heb ik mij verder gespecialiseerd in de huisartsgeneeskunde en ben ik twee later afgestudeerd als huisarts. Ik ben opgegroeid in Sint-Pieters-Leeuw (Vlaams-Brabant) en nadien verhuisd naar Gent, waar ik gewerkt heb op de spoedgevallendienst van het Sint-Lucas ziekenhuis. Hierdoor heb ik een bijzondere interesse voor acute pathologie binnen de huisartsgeneeskunde, maar ook voor oogheelkunde en geriatrie.</p>
          <p>Binnen de Huisartsenkring van Lochristi ben ik verantwoordelijk voor de bijscholingen en de accreditatie van de huisartsen.</p>
          <p>In mijn vrije tijd ga ik graag sporten of iets eten op restaurant, en kan ik genieten van tijd door te brengen met familie en vrienden.</p>
          <p>Als huisarts wens ik graag een kwalitatieve zorg aan te bieden in een warme omgeving, gebaseerd op een goede vertrouwensband tussen arts en patiënt.</p>
        </li>
        <li>
          <h3>Dr. Elise Veys (HAIO)</h3>
          <p>Ik ben dokter Elise Veys, afgestudeerd als arts in 2020 aan de universiteit van Gent. Het komende anderhalf jaar zal ik mijn opleiding tot huisarts enthousiast verderzetten in deze praktijk. Ik ben opgegroeid in Brugge en ik woon in Gent. In mijn vrije tijd kook ik graag en spendeer ik graag tijd met mijn vrienden en familie. Ik kijk er enorm naar uit om mijn steentje bij te dragen in de praktijk.</p>
        </li>
        <li>
          <h3>Dr. Emma De Pestel (HAIO)</h3>
          <p>Ik ben dokter Emma De Pestel. Sinds april 2021 werk ik in Praktijkcentrum Lochristi als huisarts in opleiding (HAIO). Ik heb reeds 6 jaar geneeskunde achter de rug en zit nu in de helft van mijn huisartsenopleiding.</p>
          <p>Huisarts worden / zijn betekent voor mij een laagdrempelig aanspreekpunt zijn voor allerhande (medische) vragen en problemen. Ik zal steeds trachten patiënten goed te informeren en tools te geven om hun gezondheid in eigen handen te nemen.</p>
          <p>Naast mijn werk ben ik graag onder vrienden of familie, speel ik Spikeball, ben ik vaak buiten en luister ik graag muziek.</p>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}