{% extends "layout.html.njk" %}

{% block meta %}
  <title>Wij zijn wij? - Huisartsen Lochristi - Dr Marc De Jaeger &amp; Dr Sara Vanthuyne</title>
  <meta name="description" content="De huisartsen Marc De Jaeger en Sara Van Thuyne hebben gekozen om in een maatschap te werken. Hierdoor is een betere dienstverlening mogelijk en kunnen we de wachttijden beperken. Er is dagelijks overleg tussen alle huisartsen in de praktijk en wij volgen de recentste ontwikkelingen in de huisartsgeneeskunde.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Wie zijn wij?</h2>
      <p>De huisartsen Marc De Jaeger en Sara Van Thuyne hebben gekozen om in een maatschap te werken. Hierdoor is een betere dienstverlening mogelijk en kunnen we de wachttijden beperken. Er is dagelijks overleg tussen alle huisartsen in de praktijk en wij volgen de recentste ontwikkelingen in de huisartsgeneeskunde.</p>
      <p>Onze huisartsen worden bijgestaan door praktijkassistente Shanty Van Zele.</p>
      <ul class="fotos">
        <li>
          <h3>Dr. Marc De Jaeger</h3>
          <p>Huisarts sinds 1984. CRA WZC Sint Eligius te Zeveneken.</p>
          <p>Bijzondere interesses: geriatrie, palliatieve zorg.</p>
          <img src="/assets/img/huisarts-dr-marc-de-jaeger.jpg" alt="Huisarts Dr. Marc De Jaeger" width="787" height="500">
        </li>
        <li>
          <h3>Dr. Sara Van Thuyne</h3>
          <p>Huisarts sinds 2013. CRA WZC Moervaartheem te Wachtbeke.</p>
          <p>Bijzonder interesses: pediatrie, gynaecologie, geriatrie, palliatieve zorg.</p>
          <img src="/assets/img/huisarts-dr-sara-van-thuyne.jpg" alt="Huisarts Dr. Sara Van Thuyne" width="500" height="644">
        </li>
        <li>
          <h3>Dr. Jelle Van Nieuwenhuyze (HAIO)</h3>
          <p>Bijzondere interesses: Sportgeneeskunde, traumatologie, orthopedische problemen.</p>
          <img src="/assets/img/haio-dr-jelle-van-nieuwenhuyze.jpg" alt="Dr. Jelle Van Nieuwenhuyze (HAIO)" width="500" height="720" class="black-border">
        </li>
        <li>
          <h3>Dr. Cedric Leys (HAIO)</h3>
          <p>Bijzondere interesses: Sportgeneeskunde, traumatologie, orthopedische problemen.</p>
          <img src="/assets/img/haio-dr-cedric-leys.jpg" alt="Dr. Cedric Leys (HAIO)" width="640" height="1136" class="black-border max-500">
        </li>
      </ul>
    </div>
  </section>
{% endblock %}