{% extends "layout.html.njk" %}

{% block meta %}
  <title>Wij zijn wij? - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Van Thuyne &amp; Pia Verhoeven</title>
  <meta name="description" content="De huisartsen Marc De Jaeger en Sara Van Thuyne hebben gekozen om in een maatschap te werken. Hierdoor is een betere dienstverlening mogelijk en kunnen we de wachttijden beperken. Er is dagelijks overleg tussen alle huisartsen in de praktijk en wij volgen de recentste ontwikkelingen in de huisartsgeneeskunde.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Wie zijn wij?</h2>
      <p>De huisartsen Marc De Jaeger en Sara Van Thuyne hebben gekozen om in een maatschap te werken. Hierdoor is een betere dienstverlening mogelijk en kunnen we de wachttijden beperken. Er is dagelijks overleg tussen alle huisartsen in de praktijk en wij volgen de recentste ontwikkelingen in de huisartsgeneeskunde.</p>
      <p>Onze huisartsen worden bijgestaan door praktijkassistentes Shaline De Wever en Kimberly Bescamps.</p>
      <ul class="fotos">
        <li>
          <h3>Dr. Marc De Jaeger</h3>
          <p>Huisarts sinds 1984. CRA WZC Sint Eligius te Zeveneken.</p>
          <p>Bijzondere interesses: geriatrie, palliatieve zorg.</p>
          <img src="/assets/img/huisarts-dr-marc-de-jaeger.jpg" alt="Huisarts Dr. Marc De Jaeger" width="787" height="500">
        </li>
        <li>
          <h3>Dr. Sara Van Thuyne</h3>
          <p>Huisarts sinds 2013. CRA WZC Moervaartheem te Wachtbeke.</p>
          <p>Bijzonder interesses: pediatrie, gynaecologie, geriatrie, palliatieve zorg.</p>
          <img src="/assets/img/huisarts-dr-sara-van-thuyne.jpg" alt="Huisarts Dr. Sara Van Thuyne" width="500" height="644">
        </li>
        <li>
          <h3>Dr. Pia Verhoeven</h3>
          <p>Dokter Pia Verhoeven is een erkend huisarts en komt ons team versterken vanaf 12 november 2019.</p>
        </li>
        <li>
          <h3>Dr. Cedric Leys</h3>
          <p>Ik ben dr. Cedric Leys en ben sinds 2018 afgestudeerd als arts en sportarts. Ik vervolg mijn opleiding tot huisarts gedurende 2 jaar in deze praktijk. Ik kijk er enorm naar uit om mijn steentje bij te dragen aan een kwalitatieve zorg op maat voor iedereen. Buiten het werk hou ik van alles wat met sport te maken heeft. Ik hou er ook van om tijd vrij te maken voor familie en vrienden. Verder ben ik geboren en getogen in Lochristi maar woon sinds mijn studentenjaren in Gent.</p>
          <p>Bijzondere interesses: Sportgeneeskunde, traumatologie, orthopedische problemen.</p>
          <img src="/assets/img/haio-dr-cedric-leys.jpg" alt="Dr. Cedric Leys (HAIO)" width="640" height="1136" class="black-border max-500">
        </li>
        <li>
          <h3>Ellen Van Hoecke (HAIO)</h3>
          <p>Dokter Ellen Van Hoecke is huisarts in opleiding, afgestudeerd aan de UGent in 2019. Zij volgt gedurende 18 maand haar opleiding tot huisarts in de praktijk.</p>
        </li>
        <li>
          <h3>Elise Veys (HAIO)</h3>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}