{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Behandeling</title>
  {{/replace}}

  {{#replace "main"}}

    <div class="art-article">
      <h1>Psychologe: Mieke&nbsp;Soons</h1>
      <h3>Behandeling</h3>
      <p>De Cliënt zelf of een verwijzer kan zich telefonisch of via e-mail aanmelden. Er wordt dan een afspraak gemaakt voor een eerste gesprek. Dit eerste gesprek is een verkennend gesprek waarin de klachten en problemen verduidelijkt worden. Vervolgens zullen we samen plannen hoe we dit zullen aanpakken.</p>
    </div>

  {{/replace}}
{{/extend}}