{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Huisbezoek - Huisartsen Lochristi - Dr Marc De Jaeger &amp; Dr Sara Vanthuyne</title>
    <meta name="description" content="Hoe u een huisbezoek door een van onze huisartsen kan aanvragen.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Huisbezoek</h2>
        <h3>Voor wie?</h3>
        <p>Huisbezoeken zijn er enkel voor:</p>
        <ul>
          <li>Hoogbejaarden</li>
          <li>Ernstig zieken</li>
          <li>Patiënten die zich omwille van medische reden niet kunnen verplaatsen en niet kunnen rekenen op hulp van derden voor verplaatsing.</li>
        </ul>
        <h3>Hoe aanvragen?</h3>
        <p>Een huisbezoek kan enkel telefonisch aangevraagd worden op het nummer <a href="tel:+3293559215" target="_blank">09.355.92.15</a> (niet via e-mail of voicemail). Hierdoor kunnen we de ernst van de oproep beter inschatten.</p>
        <p>Huisbezoeken dienen <strong>vóór 10.00 uur</strong> aangevraagd worden. Dit voor een vlotte planning. Huisbezoeken op een vast tijdstip zijn niet mogelijk omdat de tijd die nodig is voor iedere patiënt kan variëren. Uw dokter doet echter zijn best om zo snel mogelijk bij u te geraken.</p>
        <p>Als u belt voor 10.00 uur dan kan u een huisbezoek vragen van de dokter van uw keuze. Nadien zullen de oproepen beantwoord worden door de dokter die praktijkwacht heeft.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
