{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Huisbezoek - Huisarts Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne, Dr Charlotte Heyse &amp; Dr Omima Ahmed</title>
    <meta name="description" content="Hoe u een huisbezoek door een van onze huisartsen kan aanvragen.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Huisbezoek</h2>
        <h3>Voor wie?</h3>
        <p>Huisbezoeken zijn er voor patiënten die zich niet of moeilijk kunnen verplaatsen:</p>
        <ul>
          <li>Hoogbejaarden</li>
          <li>Ernstig zieken</li>
        </ul>
        <h3>Hoe aanvragen?</h3>
        <p>Een huisbezoek kan <mark>enkel telefonisch</mark> aangevraagd worden op het nummer <a href="tel:093559215">09.355.92.15</a> (niet via e-mail, SMS of voicemail). Gelieve dit voor 10:00u aan te vragen. Huisbezoeken dienen aangevraagd te worden voor 10:00 uur voor een vlotte planning. Huisbezoeken op een vast tijdstip zijn niet mogelijk omdat de tijd die nodig is voor iedere patiënt kan variëren. Uw dokter doet echter zijn best om zo snel mogelijk bij u te geraken. Als U belt voor 10.00 uur dan kan U een huisbezoek vragen van de dokter van uw keuze. Nadien zullen de oproepen beantwoord worden door de dokter die praktijkwacht heeft.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
