{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Behandeling</title>
  {{/replace}}

  {{#replace "main"}}

    <div class="art-article">
      <h1>Huisartsen: Marc&nbsp;De&nbsp;Jaeger &amp; Sara&nbsp;Vanthuyne</h1>
      <h3>Huisbezoek</h3>
      <p>Huisbezoeken zijn er voor patiënten die zich niet of moeilijk kunnen verplaatsen:</p>
      <ul>
        <li>Hoogbejaarden</li>
        <li>Ernstig zieken</li>
        <li>Mensen die niet vervoerd kunnen worden</li>
      </ul>
      <p>Een huisbezoek kan u aanvragen op het nummer&nbsp;<strong>09.355.92.15</strong><strong>&nbsp;</strong>. Gelieve dit voor 10:00 aan te vragen voor een vlotte planning. Huisbezoeken op een vast tijdstip zijn niet mogelijk omdat de tijd die nodig is voor iedere patiënt kan variëren. Uw dokter doet echter zijn best om zo snel mogelijk bij u te geraken. Als U belt voor 10.00 uur dan kan U een huisbezoek vragen van de dokter van Uw keuze. Nadien zullen de oproepen beantwoord worden door de dokter die praktijkwacht heeft.</p>
      <p>&nbsp;</p>
      <p>Huisbezoeken kunnen enkel telefonisch aangevraagd worden, geen e-mail, SMS of voice mail.</p>
    </div>

  {{/replace}}
{{/extend}}