{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Nuttige links - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne &amp; Dr Charlotte Heyse</title>
    <meta name="description" content="Nuttige links door huisarts Marc De Jaeger en Sara Vanthuyne.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Nuttige links</h2>
      </a>
        <ul>
          <li><a target="_blank" href="http://​​​​www.abortus.be">Abortus</a></li>
          <li><a target="_blank" href="http://www.influenza.be">Griep</a></li>
          <li><a target="_blank" href="http://www.kindengezin.be">Kind &amp; Gezin</a></li>
          <!-- <li><a target="_blank" href="http://​​​www.stopbedplassen.be">Kinderen: Bedplassen</a></li> -->
          <li><a target="_blank" href="http://www.leif.be">Palliatieve zorg​​​​​​</a></li>
          <li><a target="_blank" href="ttp://www.domusmedica.be/praktijk/consultatie/patientenfolders">Patientenfolders</a></li>
          <li><a target="_blank" href="http://www.sensoa.be">SOA-advies​​​​​​​</a></li>
          <li><a target="_blank" href="http://www.vaph.be">Vlaams agentschap voor personen met een handicap</a></li>
          <li><a target="_blank" href="http://www.itg.be">Reisadvies</a></li>
          <li><a target="_blank" href="http://www.komoptegenkanker.be">Kankeradvies</a></li>
          <li><a target="_blank" href="http://www.vlov.be">Zwangerschap: Vroedvrouwen</a></li>
          <!-- <li><a target="_blank" href="http://www.vzwkraamzorg.be">Zwangerschap: Kraamzorg</a></li> -->
        </ul>
      </div>
    </section>

  {{/replace}}
{{/extend}}
