{% extends "layout.html.njk" %}

{% block meta %}
  <title>Griepvaccin - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Van Thuyne &amp; Pia Verhoeven</title>
  <meta name="description" content="Informatie over wanneer u bij ons griepvaccins kan krijgen.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Griepvaccin</h2>
      <p>Beste patiënt,</p>
      <p>Naar jaarlijkse gewoonte bezorgen we aan alle patiënten ouder dan 50 en met een GMD een voorschrift voor het griepvaccin.</p>
      <p>Met het voorschrift kan u het spuitje halen bij de apotheek.</p>
      <p>Het vaccin kan gegeven worden op huisbezoek, tijdens de gewone raadpleging en liefst tijdens de speciale raadpleging die hiervoor voorzien worden op zaterdagvoormiddag.</p>
      <p>Wegens COVID maatregelen zijn ook deze speciale raadpleging enkel op afspraak, dit kan u telefonisch doen of via de speciale knop hieronder:</p>
      <a class="button" href="https://afspraken.doctena.be/e/aHN0UVJrME14VXNJc3FYOFpmejRTeFlTT1dFMTJnNGVSMk01RkpLRjFURT0%3D" target="_blank" rel="nofollow noopener">Maak griepvaccinafspraak</a>
      <p>Bij deze gelegenheid bekijken we ook of het voor jou opportuun is om later een pneumococcenvaccin te krijgen.</p>
      <p>Het griepvaccin krijg je best tussen 15 oktober en 15 november. Het geeft een goede bescherming tegen de complicaties van de griep en je wordt zeker niet ziek van het spuitje. Soms kan de bovenarm enkele dagen rood en gevoelig zijn.</p>
      <p>Vriendelijke groeten,</p>
      <p>De artsen van praktijkcentrumlochristi</p>
      <p>
        <em>Marc De Jaeger<br/>Sara van Thuyne<br/>Cedric Leys<br/>Pia Verhoeven<br/>Elise Veys<br/>Emma De Pestel</em>
      </p>
    </div>
  </section>
{% endblock %}