{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Nuttige informatie - Huisarts Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne, Dr Charlotte Heyse &amp; Dr Omima Ahmed</title>
    <meta name="description" content="Nuttige informatie door huisarts Marc De Jaeger en Sara Vanthuyne.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Nuttige informatie</h2>
        <p> Beste patiënten,</p>
        <p>Vanaf mei 2017 zal er <mark>enkel nog op afspraak</mark> gewerkt worden. Via de online agenda of via telefonisch contact zal een afspraak kunnen gemaakt worden bij een arts naar keuze.</p>
        <p><em>Marc, Sarah, Charlotte &amp; Omima</em></p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
