{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Nuttige informatie - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne &amp; Dr Charlotte Heyse</title>
    <meta name="description" content="Nuttige informatie door huisarts Marc De Jaeger en Sara Vanthuyne.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Nuttige informatie</h2>
        <h3>Afsprakensysteem</h3>
        <p>Om een betere dienstverlening mogelijk te maken en om de wachttijden te beperken, hebben we beslist om vanaf mei 2017 enkel nog op afspraak te werken. We hebben liefst dat jullie de afspraken maken via onze website. Afspraken kunnen gemaakt worden via PC en via smartphone. Indien gewenst kun je een herinnering per SMS van de afspraak krijgen. Indien het niet mogelijk is om via de website een afspraak te maken, kan u ons telefonisch contacteren.</p>
        <h3>Stiptheid </h3>
        <p>Gelieve u minstens 5 minuten op voorhand aan te melden aan het secretariaat met uw elektronische identiteitskaart. Als de afspraak niet lukt, gelieve dan tijdig te verwittign.</p>
        <p>Bij het niet aanwezig zijn op een afspraak zal er een administratieve kost van 25 euro aangerekend worden. Deze is niet terugbetaald door de mutualiteit en zal door ons altijd aangerekend worden.</p>
        <h3>Bancontact</h3>
        <p>Om veiligheidsredenen verkiezen we elektronische betaling. We hebben bancontact in de praktijk en op huisbezoek.</p>
        <h3>Attesten</h3>
        <p>Er kunnen geen voorschriften of attesten afgeleverd worden zonder consultatie.</p>
        <h3>Apotheker van wacht</h3>
        <p>Voor het raadplegen van een apotheker tussen 18.30u en 22.00u kan u terecht op <a href="www.geowacht.be" target="_blank">www.geowacht.be</a>.</p>
        <p>Om de apotheker met nachtwacht te kennen (tussen 22.00u en 9.00u), dient u te telefoneren naar het centrale nummer 0903/99 000.</p>
        <p>Vanaf ’s morgens 9.00u is uw gebruikelijke apotheker weer tot uw dienst.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
