{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Nuttige informatie - Huisarts Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne &amp; Dr An Loones</title>
    <meta name="description" content="Nuttige informatie door huisarts Marc De Jaeger en Sara Vanthuyne.">
  {{/replace}}

  {{#replace "main"}}

    <div class="art-article">
      <h1>Huisartsen: Marc&nbsp;De&nbsp;Jaeger &amp; Sara&nbsp;Vanthuyne</h1>
      <h3>Informatie</h3>
      <p>De huisartsen De Jaeger en Sara Van Thuyne&nbsp;hebben gekozen om in associatie&nbsp;te werken. Hierdoor is een betere dienstverlening mogelijk en kunnen we de wachttijden beperken. Er is dagelijks overleg tussen alle huisartsen in de praktijk en wij volgen de recentste ontwikkelingen in de huisartsgeneeskunde.</p>
      <p>&nbsp;</p>
      <p>U kunt altijd tijdens het spreekuur&nbsp;voor een raadpleging bij een specifieke dokter vragen, voor huisbezoeken aangevraagd voor 10.00 uur is dit ook mogelijk.</p>
      <p>De huisartsenpraktijk&nbsp;is officieel erkend en aangesteld als universitaire opleidingspraktijk voor stagairs en huisartsen in opleiding (HAIO). Vanaf 1 maart voltooit Dokter An Loones haar opleiding tot huisarts in de praktijk.</p>
      <h3>Nuttige websites</h3>
      <p><a href="http://www.huisarts.be/lijsten/" target="_blank">Huisarts van wacht</a></p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h3>Griepvaccinatie</h3>
      <p>De griepspuit biedt bescherming tegen de griep en vooral tegen de ernstige complicaties.</p>
      <p>De inspuiting veroorzaakt weinig hinder, somms wat roodheid en jeuk op de injectieplaats.</p>
      <p>Het spuitje wordt liefst gegeven eind oktober of begin november.</p>
      <p>&nbsp;</p>
      <p>Voor de griepvaccinatie komen in aanmerking:</p>
      <ul>
        <li>&nbsp;
          <ul>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; iedereen ouder dan 50</li>
            <li>
              <div style="padding-left: 30px;">zwangeren</div>
            </li>
            <li>
              <div style="padding-left: 30px;">iedereen werkzaam in de gezondheidssector</div>
            </li>
            <li>
              <div style="padding-left: 30px;">patiënten jonger dan 50 met een chronische ziekte (diabetes, astma, COPD, inflammatoire darmziekten...)</div>
            </li>
          </ul>
        </li>
      </ul>
      <p>Patiënten met een geldig GMD krijgen een brief en een voorschriftje in de bus.</p>
      <p>&nbsp;</p>
      <p>Dit spuitje kan gegeven worden tijdens de consultatie of tijdens een huisbezoek.</p>
      <p>Om de wachttijd te verminderen zijn er speciale momenten voorzien voor het geven van de spuitjes:</p>
      <ul>
        <li>&nbsp;
          <ul>
            <li>woensdag 28 oktober tussen 18.00 en 20.00 uur</li>
            <li>zaterdag 31 oktober tussen 10.00 en 12.00 uur.</li>
          </ul>
        </li>
      </ul>
      <p>Op deze momenten worden enkel griepsspuitjes gegeven!</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>

    </div>

  {{/replace}}
{{/extend}}