{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Nuttige informatie - Huisarts Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne &amp; Dr An Loones</title>
    <meta name="description" content="Nuttige informatie door huisarts Marc De Jaeger en Sara Vanthuyne.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Nuttige informatie</h2>
        <h3>Griepvaccinaties</h3>
        <p>De griepspuit biedt bescherming tegen de griep en vooral tegen de ernstige complicaties. De inspuiting veroorzaakt weinig hinder, somms wat roodheid en jeuk op de injectieplaats. Het spuitje wordt liefst gegeven eind oktober of begin november. Voor de griepvaccinatie komen in aanmerking:</p>
        <ul>
          <li>Iedereen ouder dan 50</li>
          <li>Iedereen werkzaam in de gezondheidssector</li>
          <li>Zwangere vrouwen</li>
          <li>Patiënten jonger dan 50 met een chronische ziekte (diabetes, astma, COPD, inflammatoire darmziekten...)</li>
        </ul>
        <p>Patiënten met een geldig GMD krijgen een brief en een voorschriftje in de bus. Dit spuitje kan gegeven worden tijdens de consultatie of tijdens een huisbezoek. Om de wachttijd te verminderen zijn er speciale momenten voorzien voor het geven van de spuitjes:</p>
        <ul>
          <li>Woensdag 28 oktober 2015 tussen 18.00 en 20.00 uur</li>
          <li>Zaterdag 31 oktober 2015 tussen 10.00 en 12.00 uur</li>
        </ul>
        <p>Op deze momenten worden enkel griepsspuitjes gegeven!</p>
        <h3>Nuttige websites</h3>
        <p><a href="http://www.huisarts.be/lijsten/" target="_blank">Huisarts van wacht</a></p>
      </div>
    </section>

  {{/replace}}
{{/extend}}