{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Nuttige informatie - Huisarts Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne &amp; Dr Omima Ahmed</title>
    <meta name="description" content="Nuttige informatie door huisarts Marc De Jaeger en Sara Vanthuyne.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Nuttige informatie</h2>
        <p>Beste patiënten,</p>
        <p><strong>Dokter Sara Van Thuyne is zwanger</strong>. Na haar bevalling zal zij een tijdje afwezig zijn, maar er zal in vervanging voorzien worden. Om deze reden proberen we momenteel ook de huisbezoeken te beperken.</p>
        <p>Onze praktijk is <strong>erkend als opleidingspraktijk voor jonge huisartsen</strong> (HAIO’s). Dit vraagt een duidelijk engagement van ons om in een kwaliteitsvolle opleiding te voorzien en te werken volgens erkende standaarden. Maar dit vraagt ook een engagement van jullie, de patiënten van deze praktijk om aan dit project jullie medewerking en vertrouwen te geven. Vandaar onze keuze om Dokter Omima Ahmed haar laatste jaar opleiding tot huisarts in onze huisartsenpraktijk te laten voltooien.</p>
        <p>Dokter <strong>Omima Ahmed</strong> is van Soedanese afkomst, zij woont al vijf jaar in België met haar man en twee kinderen. Zij heeft gewerkt als dokter in Soedan. In België heeft zij eerst grondig Nederlands gestudeerd en nadien haar diploma van arts behaald. Haar eerste jaar opleiding tot huisarts heeft zij gedaan op de dienst orthopedie en op de spoedopname van het AZ Sint Lucas.</p>
        <p>We hopen dat jullie haar alle vertrouwen schenken.</p>
        <p><i>Marc en Sara</i></p>
        <h3>Nuttige websites</h3>
        <p><a href="http://www.huisarts.be/lijsten/" target="_blank">Huisarts van wacht</a></p>
      </div>
    </section>

  {{/replace}}
{{/extend}}