{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Behandeling</title>
  {{/replace}}

  {{#replace "main"}}

    <div class="art-article">
      <h3>Psychologe: Mieke&nbsp;Soons</h3>
      <h3>Introductie</h3>
      <p>Na mijn basisopleiding als klinisch psychologe (KU Leuven) ben ik me steeds blijven bijscholen. Naast diverse studiedagen en seminaries over uiteenlopende onderwerpen volgde ik een postacademische specialisatie in de Neuropsychologie (KU Leuven). Ook nu nog blijf ik mijn kennis en kunde aanscherpen aan de hand van een Postgraduaat Pyschotherapie (Universiteit Antwerpen).</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <h3>Vervangen door: Isabelle Ottermans</h3>
      <p>telefoonnummer 0479323072</p>
      <p>&nbsp;</p>
      <p>Psychologie-Psychotherapie-Coaching<br>In 2006 studeerde ik af als klinisch psycholoog aan de Universiteit van&nbsp;Gent.</p>
      <p>Ik blijf mijn&nbsp;kennis verder uitbouwen via een&nbsp;therapieopleiding Oplossingsgerichte psychotherapie aan het Korzybski Instituut te Brugge.</p>
      <p>In de&nbsp;begeleiding staat de mens en niet het probleem centraal.&nbsp; We zoeken samen met jou naar een manier om je klachten te verhelpen of te leren omgaan met een&nbsp;beperking.</p>
      <p>Tabakologie<br>Als erkend tabakoloog kan ik u helpen bij het stoppen met roken.</p>
      <p>Tijdens de sessies bekijken we uw rokersprofiel, wat u kan helpen bij rookstop en of u nood heeft aan een hulpmiddel bij het stoppen met roken.</p>
      <p>De sessies zijn terugbetaald door de mutualiteit.</p>
      <p>Heb je nog vragen of twijfels over de begeleiding, aarzel dan niet om mij te contacteren</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>

    </div>

  {{/replace}}
{{/extend}}