{% extends "layout.html.njk" %}

{% block meta %}
  <title>COVID 19 epidemie (Corona) -Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Van Thuyne &amp; Pia Verhoeven</title>
  <meta name="description" content="Leer meer over de COVID 19 epidemie (Corona).">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>COVID 19 (Corona)</h2>
      <p>Beste patiënt,</p>
      <p>Graag de onderstaande informatie door te nemen i.v.m. de huidige corona epidemie.</p>

      <h3>Huisartsenwachtpost in het weekend</h3>
      <p>De telefoondruk ligt momenteel zeer hoog bij de huisartsenwachtdiensten, en daarom willen we het volgende aan onze patiënten vragen:</p>
      <ul>
        <li>
          <mark>Heb je milde symptomen van luchtweginfecties en behoor je niet tot de risicopatiënten</mark>: Blijf thuis, volg de richtlijnen voor thuisisolatie! (onderaan nogmaals uitgelegd en hygiënemaatregelen in de bijlage) Neem maandag telefonisch contact met de huisartsenpraktijk voor verdere bespreking of vul
          <a href="https://forms.gle/x81ZyDMRc7ukkYxs7" target="_blank" rel="noreferrer noopener">dit online formulier</a>
          in en nadien zal een arts contact met jou opnemen i.v.m. klachten/vragen...
        </li>
        <li>
          <mark>Heb je luchtwegsymptomen en koorts > 38,5°C of kortademig of ben je een risicopatiënt</mark>: Neem je best contact met de huisartsenwachtdienst, en bel 1733. Is de lijn bezet, gelieve niet onmiddellijk opnieuw te proberen, maar even te wachten voor u terugbelt. In levensbedreigende situaties, bel je 112.
        </li>
      </ul>

      <h3>Telefonisch contact met onze praktijk gedurende de weekdagen</h3>

      <p>Ook gedurende de weekdagen zal de telefoondruk zeer hoog komen te liggen in onze praktijk. Wij proberen u zo snel mogelijk verder te helpen en vragen daarom om zoveel mogelijk te bellen tijdens de openingsuren van ons onthaal tussen 8u00 en 12u00 EN tussen 16u30 en 18u30.</p>

      <ul>
        <li>
          <mark>Heb je milde symptomen van luchtweginfecties en behoor je niet tot de risicopatiënten</mark>: Blijf thuis, volg intussen de richtlijnen voor thuisisolatie! Neem telefonisch contact met de huisartsenpraktijk voor verdere bespreking op bovenstaande tijdstippen of vul
          <a href="https://forms.gle/x81ZyDMRc7ukkYxs7" target="_blank" rel="noreferrer noopener">dit online formulier</a>
          in en nadien zal een arts contact met jou opnemen i.v.m. klachten/vragen...
        </li>
        <li>
          <mark>Heb je luchtwegsymptomen en koorts > 38,5°C of kortademig of ben je een risicopatiënt</mark>: Neem best contact zo snel mogelijk telefonisch contact op met onze praktijk (09 355 92 15).
        </li>
      </ul>

      <p>Daarnaast wensen wij ook mede te delen dat wij geen patiënten testen op het coronavirus. Wij maken hier geen uitzonderingen op, tenzij voor de zorgverleners na telefonisch contact met een arts. Dit is volgens de meest recente richtlijnen die ons opgelegd worden door de overheid.</p>

      <h3>Warme oproep mondmaskers & handalcohol</h3>
      <p>Gezien wij als huisartsen bijna geen mondmaskers en handalcohol meer hebben in de bestrijding van deze corona epidemie, doen wij een warme oproep aan onze patiënten voor het inzamelen van mondmaskers en handalcohol. Indien u een steentje bij wenst te dragen, kan u deze deponeren in de praktijk.</p>

      <h3>Isolatiemaatregelen</h3>
      <p>Bij milde symptomen worden u de volgende isolatiemaatregelen opgelegd:</p>
      <ul>
        <li>Er wordt een attest van werkonbekwaamheid opgemaakt voor minimum 7 dagen.
          <mark>Hierbij is het huis verlaten NIET toegestaan!</mark>
        <li>Alsook worden alle sociale contacten vermijden, op gezinsleden na.</li>
        <li>U kan een symptomatische behandeling innemen indien u dat wenst.</li>
        <li>De te volgen hygiëne maatregelen gedurende deze periode zijn bijgevoegd in de bijlage.</li>
        <li>Indien uw symptomen verergeren of indien er nieuwe symptomen optreden: Neem telefonisch contact op met de huisartsenpraktijk</li>
        <li>Op het einde van uw werkonbekwaamheid vragen wij u om telefonisch contact op te nemen met onze praktijk. Zo kunnen wij nagaan of de symptomen verdwenen zijn en de isolatiemaatregelen opgeheven kunnen worden.</li>
      </ul>

      <p>Dank voor uw begrip en steun in deze toch wel moeilijke periode voor iedereen.</p>
      <p>
        <i>De huisartsen van praktijkcentrum Lochristi</i>
      </p>
      <img src="/assets/img/praktijkcentrum-lochristi-logo.svg" width="72" height="72" onerror="this.onerror=null; this.src='/assets/img/praktijkcentrum-lochristi@2x.png'" alt="Praktijkcentrum Lochristi logo">
      <p>&nbsp;</p>
      <p>Meer informatie:
        <a href="https://www.info-coronavirus.be/nl/" target="_blank" rel="nofollow noopener">https://www.info-coronavirus.be/nl/</a>
      </p>
    </div>
  </section>
{% endblock %}