{% extends "layout.html.njk" %}

{% block meta %}
  <title>RIZIV - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Van Thuyne &amp; Pia Verhoeven</title>
  <meta name="description" content="Nuttige informatie rond uw Rijksinstituut voor ziekte- en invaliditeitsverzekering (RIZIV)">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>RIZIV</h2>
      <h3>Globaal medisch dossier (GMD)</h3>
      <p>Op elke leeftijd kunt u aan uw huisarts vragen om een globaal medisch dossier (GMD) aan te leggen. Een globaal medisch dossier bevordert de kwaliteit van de zorgverlening en geeft u recht op de volgende voordelen:</p>
      <ul>
        <li>Een verhoogde terugbetaling van het remgeld voor raadplegingen door de mutualiteit. Dit is tot 1 euro voor de rechthebbenden op de verhoogde tegemoetkoming. Dit is tot 4 euro voor de patiënten die geen recht hebben op de verhoogde tegemoetkoming. Zo krijgen patiënten met een globaal medisch dossier het supplement van 4 euro voor raadplegingen na 18.00u volledig terugbetaald door de mutualiteit. Bovendien hebben patiënten van minimum 75 jaar en/of chronisch zieken recht op een remgeldverlaging van 30 % voor de bezoeken van huisartsen.</li>
        <li>De centralisatie van uw medische gegevens. Hierdoor kunnen overbodige onderzoeken vermeden worden. Ook kan hierdoor in bepaalde noodsituaties vlotter een juiste behandeling ingesteld worden.</li>
      </ul>
      <p>Een globaal medisch dossier kan 1x per kalenderjaar worden geopend of verlengd door de huisarts, dit naar aanleiding van een raadpleging of huisbezoek. De aanmaak van een globaal medisch dossier is volledig gratis. De elektronische identiteitskaart dient enkel ingelezen te worden.</p>
      <h3>Verhoogde tegemoetkoming</h3>
      <p>Voor gezinnen met een laag inkomen kan de financiële impact van geneeskundige verzorging zwaar zijn. Gelukkig kunnen zij onder bepaalde voorwaarden aanspraak maken op een verhoogde verzekeringstegemoetkoming, onder de vorm van een OMNIO- of RVV-statuut. Hierdoor hebben zij recht op een verhoogde terugbetaling van hun medische kosten. Ze betalen bijvoorbeeld minder of geen remgeld voor een raadpleging bij de huisarts, hospitalisatie, tandarts, kinesitherapeut of voor sommige geneesmiddelen.</p>
      <p>Naast de verhoogde tegemoetkoming bieden het OMNIO- en RVV-statuut ook nog andere voordelen. Een korting op het openbaar vervoer en een lagere bijdragen voor de Vlaamse Zorgverzekering zijn slechts enkele voorbeelden. Deze voordelen zijn geldig voor alle gezinsleden van de persoon die de verhoogde tegemoetkoming geniet.</p>
      <p>Zowel OMNIO als RVV zijn vormen van een verhoogde verzekeringstegemoetkoming. Toch zijn deze statuten niet helemaal dezelfde. Het verschil schuilt in hun toekenningsvoorwaarden. Bij RVV wordt zowel rekening gehouden met de hoedanigheid van de rechthebbende (invalide, gepensioneerde, …) als met een inkomensplafond. Bij OMNIO geldt enkel een inkomensvoorwaarde.</p>
      <p>Voor meer informatie kan u terecht bij uw mutualiteit of op
        <a href="www.riziv.be" target="_blank" rel="noopener">www.riziv.be</a>.</p>
      <h3>Statuut chronische aandoening</h3>
      <p>Uw mutualiteit kent u automatisch het statuut toe:</p>
      <ul>
        <li>indien u uitgaven voor geneeskundige verzorging heeft van minstens 300 EUR per kwartaal, gedurende 8 opeenvolgende kwartalen, waarbij de 8 kwartalen 2 kalenderjaren vormen. De uitgaven voor geneeskundige verzorging omvatten zowel het deel dat het ziekenfonds betaalt als uw persoonlink aandeel of ...</li>
        <li>indien u het
          <a href="http://www.riziv.fgov.be/nl/themas/kost-terugbetaling/ziekten/chronische-ziekten/Paginas/forfait-chronisch-zieken.aspx" target="_blank" rel="noopener">forfait voor chronisch zieken</a>
          geniet.</li>
      </ul>
      <p>Uw mutualiteit zal u het statuut voor 2 jaar toekennen, en vervolgens kan het van jaar tot jaar worden verlengd.</p>
      <p>Als rechthebbende op het statuut zult u automatisch van de volgende voordelen genieten:</p>
      <ul>
        <li>
          mogelijkheid om de
          <a href="http://www.riziv.fgov.be/nl/themas/kost-terugbetaling/financiele-toegankelijkheid/Paginas/derdebetalersregeling.aspx" target="_blank" rel="noopener">derdebetalersregeling</a>
          te genieten bij de arts en tandarts. Dit betekent dat u het geheel van de honoraria niet meer moet voorschieten. U betaalt enkel het niet- terugbetaald deel.</li>
        <li>
          vermindering van het grensbedrag van uw persoonlijke aandelen in het kader van de maximumfactuur, gewoonlijk "maximumfactuur chronisch zieken" genoemd.</li>
      </ul>
      <h3>Derde betalersregeling</h3>
      <p>De sociale derdebetaler is een regeling die maakt dat u de huisarts enkel uw deel van de kosten moet betalen (namelijk het remgeld). De mutualiteit betaalt hem rechtstreeks de tegemoetkoming van de verzekering voor geneeskundige verzorging. Deze regeling is voorbehouden aan bepaalde categorieën van rechthebbenden.</p>
      <p>Als u zich in een van de volgende situaties bevindt, kunt u genieten van de derdebetaler voor de raadplegingen en bezoeken van uw huisarts:</p>
      <ul>
        <li>u bevindt zich in een occasionele individuele financiële noodsituatie</li>
        <li>u geniet de
          <a href="http://www.riziv.fgov.be/nl/themas/kost-terugbetaling/financiele-toegankelijkheid/Paginas/verhoogde-tegemoetkoming-betere-vergoeding-medische-kosten.aspx" target="_blank" rel="noopener">verhoogde tegemoetkoming</a>
        </li>
        <li>u geniet het
          <a href="http://www.riziv.fgov.be/nl/themas/kost-terugbetaling/ziekten/chronische-ziekten/Paginas/statuut-persoon-chronische-aandoening-toegang-zorgen.aspx" target="_blank" rel="noopener">statuut chronisch aandoening</a>
        </li>
        <li>u bent
          <a href="http://www.riziv.fgov.be/nl/themas/kost-terugbetaling/verzekerbaarheid/Paginas/persoonlijke-bijdragen.aspx" target="_blank" rel="noopener">vrijgesteld van de betaling van de bijdrage die verschuldigd is door de gerechtigde residenten</a>
        </li>
        <li>u bent minstens 6 maanden een gecontroleerde volledig werkloze en hebt de hoedanigheid van werknemer met gezinslast of van alleenstaande</li>
        <li>u bent palliatief thuispatiënt</li>
        <li>u voldoet aan de medisch-sociale voorwaarden om recht te hebben op de verhoogde kinderbijslag.</li>
      </ul>
      <p>Indien u geniet van de verhoogde tegemoetkoming is de huisarts verplicht om de derdebetaler toe te passen, behalve indien het een huisbezoek betreft. In de andere gevallen is uw huisarts niet verplicht om te aanvaarden om de sociale derdebetaler toe te passen.</p>
      <p>Als u uw huisarts vraagt om de sociale derdebetaler toe te passen, zult u moeten aantonen dat u zich in een van de bovenvermelde situaties bevindt:</p>
      <ul>
        <li>via een getuigschrift van uw mutualiteit</li>
        <li>met een kleefbriefje van uw mutualiteit als u een rechthebbende van de verhoogde tegemoetkoming bent (het laatste cijfer van de eerste code voor gerechtigden is dan een "1")</li>
        <li>via de brief van uw mutualiteit die u meedeelt dat u het "statuut chronisch aandoening" geniet</li>
        <li>via een verklaring op eer dat u zich in een occasionele individuele financiële noodsituatie bevindt.</li>
      </ul>
      <p>De arts kan ook een online dienst raadplegen om na te gaan of hij de derdebetaler kan toepassen.</p>
      <h3>Elektronisch voorschrift</h3>
      <p>
        Sinds kort wordt er gebruik gemaakt van het elektronisch voorschrift. Dit geeft verschillende voordelen:</p>
      <ul>
        <li>minder fouten in de aflevering van geneesmiddelen door bv. een onleesbaar handschrift</li>
        <li>minder papierverbruik</li>
        <li>betere opvolging van de therapie door de arts (mogelijkheid om al dan niet afgehaalde medicatie te raadplegen)</li>
        <li>betere samenwerking tussen arts en apotheker (elektronische feedbackmogelijkheid)</li>
        <li>efficiëntere invulling van het elektronisch medisch dossier, ook tussen artsen onderling.</li>
        <li>minder kans op fraude</li>
      </ul>
      <p>Vanaf 1 januari 2018 wordt het elektronische voorschrift de regel. Papieren voorschriften blijven uiteraard mogelijk in noodsituaties.</p>
      <p>Het papieren ‘bewijs van elektronisch voorschrift’ zal ook progressief verdwijnen. In plaats daarvan zal de apotheker de eID van de patiënt kunnen inlezen om de af te halen medicatie te raadplegen.</p>
      <p>Ook de patiënt zal via een speciaal webportaal de openstaande elektronische voorschriften op zijn of haar eID kunnen zien.</p>
      <p>Op dit moment is het bovendien nog steeds mogelijk om zelfs met een elektronisch voorschrift niet alle medicatie ineens af te halen. Indien je dit wenst kan je apotheker voor jou een bewijs van uitgestelde aflevering afdrukken van het gewenste product. Dit product kan je dan binnen de oorspronkelijke geldigheidstermijn van je voorschrift komen afhalen.</p>
    </div>
  </section>
{% endblock %}