{% extends "layout.html.njk" %}

{% block meta %}
  <title>Spoedgeval - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Van Thuyne &amp; Pia Verhoeven</title>
  <meta name="description" content="In geval van nood kan u de praktijk altijd rechtstreeks bellen op het nummer 09.355.92.15. Vraag echter niet nodeloos om dringende hulp, omdat dit mogelijk andere patiënten doet wachten.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Helena</h2>

      <p>Beste,</p>
      <p>Vanaf 01/01/2020 zijn voorschrijvers van medicatie, waaronder de huisartsen, verplicht om dit op een elektronische manier te doen. Vanaf
        <mark>01/06/2021</mark>
        wenst men de voorschriften te dematerialiseren en zal men dus meer gebruik maken van de elektronische manier. Voorschrijvers zullen dan geen ‘bewijs van voorschrift’ meer dienen af te drukken en mee te geven met de patiënt. De apotheker zal dan ook via een specifiek programma toegang hebben tot alle openstaande voorschriften van de patiënt.</p>
      <p>Daarnaast mogen wij volgens de GDPR wetgeving geen medische documenten doorsturen via email. Om deze beide redenen wensen we Helena te introduceren bij onze patiënten.</p>
      <img src="/assets/img/logo-helena.svg" width="232" height="52" alt="logo Helena">
      <p>
        <strong>Helena</strong>
        is een gratis persoonlijk digitaal gezondheidsportaal. Het is een persoonlijke digitale brievenbus en archief voor alle medische documenten en gegevens van alle zorgverleners op één plaats.</p>
      <p>Via Helena, uw persoonlijke gezondheidsomgeving, kan u veilig en efficiënt communiceren met uw arts, waaronder:</p>
      <ul>
        <li>
          <strong>Ontvangen van medische documenten</strong>
          - In Helena ontvang je direct de noodzakelijke medische documenten van je arts (voorschriften, attesten, lab-resultaten).</li>
        <li>
          <strong>Zicht op je medisch dossier</strong>
          - Raadpleeg de samenvatting van jouw medisch dossier bij je huisarts, ontvang je medicatie-schema en bekijk het overzicht van de toegediende vaccinaties.</li>
        <li>
          <strong>Privécommunicatie van je arts</strong>
          - Via Helena ontvang je persoonlijke berichten van jouw zorgverlener zoals een uitnodiging tot consultatie en voor een jaarlijks onderzoek, …</li>
      </ul>
      <p>Via het beveiligd Helena-platform communiceert je arts makkelijker met jou, en het biedt je steeds en overal toegang tot jouw medische gegevens op een veilige manier. Je moet dus zelf niet meer klasseren of jouw dossiers overal opvragen.</p>

      <h3>Hoe kan ik mee aanmelden in Helena?</h3>
      <p>Dit kan via de site
        <a href="https://helena.care/" target="_blank" rel="nofollow noopener">https://helena.care/</a>
        of via de Helena Care app.</p>
      <p>Hieronder vind u hieronder nog een filmpje met uitleg:</p>
      <ul>
        <li>Via Itsme op smartphone:
          <a href="https://vimeo.com/419285432" target="_blank" rel="nofollow noopener">https://vimeo.com/419285432</a>
        </li>
        <li>Via identiteitskaart of Itsme op de computer:
          <a href="https://vimeo.com/419284287" target="_blank" rel="nofollow noopener">https://vimeo.com/419284287</a>
        </li>
      </ul>
      <p>Ieder gezinslid met een persoonlijk gsm-nummer en persoonlijk e-mailadres, kan Helena gebruiken. Koppel de accounts binnen jouw gezin en verwissel zo gemakkelijk van account via de optie leesrechten en/of volmacht.</p>
      <p>Vriendelijke groeten,</p>
      <p>
        <i>De huisartsen van praktijkcentrum Lochristi</i>
      </p>
      <img src="/assets/img/praktijkcentrum-lochristi-logo.svg" width="72" height="72" alt="Praktijkcentrum Lochristi logo">
    </div>
  </section>
{% endblock %}