{% extends "layout.html.njk" %}

{% block $1 %}
  <title>Praktijkcentrum Lochristi</title>
  <meta name="description" content="Hier kan u terecht bij 3 huisartsen, 4 kinderpsychologen, 1 psychologe en 1 voedingsdeskundige. Gelegen net buiten de dorpskern van Lochristi.">
{% endblock %}

{% block main %}
  <section id="landing">
    <div class="inner">
      <h2>Welkom</h2>
      <p>Welkom op onze praktijkwebsite.
        <nobr>Hier kan u terecht bij:</nobr>
      </p>
      <div class="boxes">
        <div class="huisarts">
          <div class="text">
            <h3>Huisartsen</h3>
            <ul>
              <li>
                Huisarts Marc De Jaeger
              </li>
              <li>
                Huisarts Sara Van Thuyne
              </li>
              <li>
                Huisarts Pia Verhoeven
              </li>
              <li>
                Huisarts Cedric Leys
              </li>
              <li>
                HAIO Ellen Van Hoecke
              </li>
              <li>
                HAIO Elise Veys
              </li>
            </ul>
            <div class="buttons">
              <button class="book">Maak een afspraak</button>
              <a href="/huisarts/huisbezoek" class="button">Huisbezoeken</a>
              {# <a href="/huisarts/griepvaccin" class="button">Griepvaccins</a> #}
              <a href="https://afspraken.doctena.be/e/aHN0UVJrME14VXVnbXRmNHRzbE9EVDRpT2pFRWFUNU1TY3FUK3Q5cGtENHB1bm1VaDlVTDhRVW1ZS29WaURMcw%3D%3D" target="_blank" rel="noopener noreferrer" class="button">Vertegenwoordigers</a>
            </div>
          </div>
        </div>
        <div class="voedingsdeskundige">
          <h3>Voedingsdeskundige</h3>
          <ul>
            <li>
              <a href="/dietist/introductie">Voedingsdeskundige Céline Stadeus</a>
            </li>
          </ul>
        </div>
        <div class="secretariaat">
          <h3>Secretariaat</h3>
          <ul>
            <li>
              <a href="/secretariaat">Praktijkassistente Shaline De Wever</a>
            </li>
            <li>
              <a href="/secretariaat">Praktijkassistente Kimberly Descamps</a>
            </li>
          </ul>
          {% include "partials/opening-times.njk" %}
        </div>
      </div>
      <div class="images">
        <img src="/assets/img/praktijk-wachtzaal-2x.jpg" alt="wachtzaal in Praktijkcentrum Lochristi" height="160" width="240">
        <img src="/assets/img/praktijk-stethoscoop-2x.jpg" alt="stethoscoop van huisarts Marc De Jaeger" height="160" width="140">
        <img src="/assets/img/praktijk-consultatieruimte-2x.jpg" alt="consultatieruimte van huisarts Marc De Jaeger" height="160" width="241">
      </div>
    </div>
  </section>
{% endblock %}