{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Tarieven - Psycholoog Lochristi - Mieke Soons &amp; Isabelle Ottermans</title>
    <meta name="description" content="Een sessie duurt 50 minuten en kost 50 euro per sessie.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Tarief</h2>
        <p>Een sessie duurt 50 minuten en kost 50 euro per sessie.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
