{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Tarieven - Psycholoog Lochristi - Mieke Soons &amp; Isabelle Ottermans</title>
    <meta name="description" content="Een sessie duurt 50 minuten en kost 35 euro per sessie.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h1>Psychologe: Mieke&nbsp;Soons</h1>
        <h3>Tarief</h3>
        <p>Een sessie duurt 50 minuten en kost 35 euro per sessie.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}