{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Voor wie - Psycholoog Lochristi - Mieke Soons &amp; Isabelle Ottermans</title>
    <meta name="description" content="Zowel jongvolwassenen, volwassenen en ouderen met psychologische problemen kunnen allen bij ons terecht. Voor kinder, kan u tercht bij onze collega's.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Voor wie?</h2>
        <p>Jongvolwassenen, volwassenen of ouderen met psychologische problemen zoals:</p>
        <ul>
          <li>stress</li>
          <li>burn-out</li>
          <li>angst</li>
          <li>depressie</li>
          <li>rouw</li>
          <li>traumaverwerking</li>
          <li>zingevingsvragen</li>
          <li>geheugenproblemen</li>
          <li>aandachtsproblemen</li>
          <li>...</li>
        </ul>
      </div>
    </section>

  {{/replace}}
{{/extend}}