{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Spoedgeval - Huisarts Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne &amp; Dr An Loones</title>
    <meta name="description" content="In geval van nood kan u de praktijk altijd rechtstreeks bellen op het nummer 09.355.92.15. Vraag echter niet nodeloos om dringende hulp, omdat dit mogelijk andere patiënten doet wachten.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Spoedgeval</h2>
        <p>In geval van nood kan u de praktijk altijd rechtstreeks bellen op het nummer <a href="tel:093559215">09.355.92.15</a>. Vraag echter niet nodeloos om dringende hulp, omdat dit mogelijk andere patiënten doet wachten. Bij urgente levensbedreigende situatie's kan u ook steeds het nummer <a href="tel:100">100</a> of <a href="tel:122">122</a> opbellen.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}