{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Spoedgeval - Huisarts Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne &amp; Dr An Loones</title>
    <meta name="description" content="In geval van nood kan u de praktijk altijd rechtstreeks bellen op het nummer 09.355.92.15. Vraag echter niet nodeloos om dringende hulp, omdat dit mogelijk andere patiënten doet wachten.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Spoedgeval</h2>
        <h1>Huisarts Marc De Jaeger
          <br>Huisarts Sara Vanthuyne
          <br>Huisarts An Loone (in opleiding)
        </h1>
        <h3>Telefonisch consult</h3>
        <p>In geval van nood kan u de praktijk altijd rechtstreeks bellen op het nummer<strong>&nbsp;09.355.92.15</strong>. Vraag echter niet&nbsp;nodeloos om dringende hulp, omdat dit mogelijk andere patiënten doet wachten. Bij urgente levensbedreigende situatie's kan u ook steeds het nummer&nbsp;<strong>100</strong> of&nbsp;<strong>112</strong>&nbsp;opbellen.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}