{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Behandeling</title>
  {{/replace}}

  {{#replace "main"}}

    <div class="art-article">
      <h1>Huisartsen: Marc&nbsp;De&nbsp;Jaeger &amp; Sara&nbsp;Vanthuyne</h1>
      <h3>Spoedgeval</h3>
      <p>In geval van nood kan u de praktijk altijd rechtstreeks bellen op het nummer<strong>&nbsp;09.355.92.15</strong>. Vraag echter niet&nbsp;nodeloos om dringende hulp, omdat dit mogelijk andere patiënten doet wachten. Bij urgente levensbedreigende situatie's kan u ook steeds het nummer&nbsp;<strong>100</strong> of&nbsp;<strong>112</strong>&nbsp;opbellen.</p>
    </div>

  {{/replace}}
{{/extend}}