footer {
  .inner {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    p {
      margin: 0;
      text-align: center;
      @media (max-width: 640px) {
        max-width: 380px;
        margin: 0 auto;
        line-height: 38px;
        span {
          display: none;
        }
      }
    }
    nav {
      background: #f9f9f9;
      box-shadow: inset 0 30px 30px -30px RGBA(0, 0, 0, 0.1);
      border-top: 1px solid #e4e4e4;
      padding-top: 40px;
      border-bottom: 1px solid #e4e4e4;
      margin-bottom: 20px;
      @media (min-width: 601px) {
        display: none;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          padding: 0;
          text-align: center;
          line-height: 36px;
          a {
            display: block;
          }
        }
      }
      > ul {
        > li {
          padding-bottom: 30px;
          padding-top: 20px;
          &:first-child {
            display: none;
          }
          > a {
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;
            cursor: default;
            color: $paragraph-color;
            padding-bottom: 8px;
          }
          > ul {
            > li {
              border-bottom: 1px solid #eaeaea;
              &:first-child {
                border-top: 1px solid #eaeaea;
              }
              > a {
                text-decoration: none;
                color: #f50000;
                &:hover {
                  background: #fff;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
