// VARIABLES
$font-stack-open: "Open Sans", "OpenSans", "Arial", "Helvetica", sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 800;
$bakker-bg-1: #506275;
$bakker-bg-2: #9ebfe5;