<footer>
  <div class="inner">
    <div class="bg">
      <p>Tandarts Bakker &copy; 2015 - Website door <a href="http://www.nabu.io" target="_blank" title="Website design and development by Jan Werkhoven">Nabu</a></p>
    </div>
  </div>
</footer>