{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Griepspuit - Huisartsen Lochristi - Dr Marc De Jaeger &amp; Dr Sara Vanthuyne</title>
    <meta name="description" content="Informatie over wanneer u bij ons griepspuiten kan krijgen.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Griepspuit</h2>
        <p>Beste patiënten,</p>
        <p>Wij voorzien ieder jaar data op de welke u kan langskomen voor het plaatsen van de griepspuit. Binnenkort ontvangt iedereen die in aanmerking komt voor een griepspuit een voorschrift.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
