{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Griepspuit - Huisartsen Lochristi - Dr Marc De Jaeger &amp; Dr Sara Vanthuyne</title>
    <meta name="description" content="Informatie over wanneer u bij ons griepspuiten kan krijgen.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Griepspuit</h2>
        <p>Beste patiënten,</p>
        <p>Naar jaarlijkse gewoonte bezorgen we aan alle patiënten ouder dan 50 en met een geldig GMD een voorschrift voor een griepvaccin. Door technische redenen is het dit jaar niet vlot verlopen.</p>
        <p>Het vaccin kan gegeven worden op huisbezoek, tijdens de gewone raadpleging en vooral op de speciale raadplegingen die hiervoor voorzien zijn.</p>
        <p>Deze raadplegingen gaan door op:</p>
        <ul>
          <li>Zaterdag 27 oktober tussen 10.00 en 11.00 uur</li>
          <li>Zaterdag 24 november tussen 10.00 en 11.00 uur</li>
        </ul>
        <p>Voor deze raadplegingen moet je geen afspraak maken.</p>
        <p>Het griepvaccin krijg je best in oktober of november. Het geeft een goede bescherming tegen de complicaties van de griep en je wordt zeker niet ziek van het spuitje. Soms kan de bovenarm enkele dagen rood en gevoelig zijn.</p>
        <p>Van harte,</p>
        <p><em>Huisartsen<br>Marc De Jaeger, <br>Sara Van Thuyne, <br>Jelle Van Nieuwenhuyze, <br>Cedric Leys</em></p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
