{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Griepspuit - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Vanthuyne &amp; Dr Charlotte Heyse</title>
    <meta name="description" content="Informatie over wanneer u bij ons griepspuiten kan krijgen.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Griepspuit</h2>
        <p>Beste patiënten,</p>
        <p>Wij voorzien ook dit jaar 2 data waarop u kan langskomen voor het plaatsen van de griepspuit:</p>
        <ul>
          <li>Zaterdag 14 Oktober 2017, tussen 10:00 en 11:00</li>
          <li>Zaterdag 21 Oktober 2017, tussen 10:00 en 11:00</li>
        </ul>
        <p>Binnenkort ontvangt iedereen die in aanmerking komt voor een griepspuit een voorschrift.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}
