{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Psycholoog Lochristi - Mieke Soons &amp; Isabelle Ottermans</title>
    <meta name="description" content="Lees meer over psychologe Mieke Soons en Isabelle Ottermans.">
  {{/replace}}

  {{#replace "main"}}

    <section>
      <div class="inner">
        <h2>Introductie</h2>
        <h3>Welkom bij</h3>
        <ul class="people">
          <li><i class="fa fa-user"></i>Psychologe Mieke Soons - <em><nobr>in bevallingsrust</nobr></em></li>
          <li><i class="fa fa-user"></i>Psychologe Isabelle Ottermans - <em>vervangt tijdelijk Mieke Soons</li>
        </ul>
        <h3>Psychologe Mieke Soons</h3>
        <p>Na mijn basisopleiding als klinisch psychologe (KU Leuven) ben ik me steeds blijven bijscholen. Naast diverse studiedagen en seminaries over uiteenlopende onderwerpen volgde ik een postacademische specialisatie in de Neuropsychologie (KU Leuven). Ook nu nog blijf ik mijn kennis en kunde aanscherpen aan de hand van een Postgraduaat Pyschotherapie (Universiteit Antwerpen).</p>
        <h3>Psychologe Isabelle Ottermans</h3>
        <p>Psychologie - Psychotherapie - Coaching:<br>In 2006 studeerde ik af als klinisch psycholoog aan de Universiteit van Gent. Ik blijf mijn kennis verder uitbouwen via een therapieopleiding Oplossingsgerichte psychotherapie aan het Korzybski Instituut te Brugge. In de begeleiding staat de mens en niet het probleem centraal.  We zoeken samen met jou naar een manier om je klachten te verhelpen of te leren omgaan met een beperking.</p>
        <p>Tabakologie:<br>Als erkend tabakoloog kan ik u helpen bij het stoppen met roken. Tijdens de sessies bekijken we uw rokersprofiel, wat u kan helpen bij rookstop en of u nood heeft aan een hulpmiddel bij het stoppen met roken.</p>
        <p>De sessies zijn terugbetaald door de mutualiteit.</p>
        <p>Heb je nog vragen of twijfels over de begeleiding, aarzel dan niet om mij te contacteren</p>
    </section>

  {{/replace}}
{{/extend}}