{% extends "layout.html.njk" %}

{% block meta %}
  <title>Diëtiste Lochristi - Céline Stadeus</title>
  <meta name="description" content="Het belang van een gezonde, evenwichtige voeding is in onze maatschappij maar al te duidelijk. Misschien weet u ook niet meer wat u moet doen om gezond te eten? Of raadt uw arts u aan om op uw voeding te letten? Ga dan eens naar een diëtiste.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Introductie</h2>
      <h3>Voedings- en dieetkundige
        <nobr>Céline Stadeus</nobr>
      </h3>
      <p>Het belang van een gezonde, evenwichtige voeding is in onze maatschappij maar al te duidelijk. Misschien weet u ook niet meer wat u moet doen om gezond te eten? Of raadt uw arts u aan om op uw voeding te letten? Ga dan eens naar een diëtiste.</p>
      <h3>Voor wie ?</h3>
      <p>Naast personen die willen vermageren begeleid ik de voeding van:</p>
      <ul>
        <li>Diabetici</li>
        <li>Nierpatiënten</li>
        <li>Personen die meer willen weten over gezonde voeding</li>
        <li>Personen die in gewicht willen toenemen</li>
        <li>Personen met een te hoge bloeddruk of cholesterolwaarde</li>
        <li>Personen met verterings- of constipatieproblemen</li>
        <li>Personen met glutenintolerantie</li>
        <li>Hartpatiënten</li>
        <li>Zwangere vrouwen</li>
        <li>Kinderen met voedingsproblemen</li>
        <li>...</li>
      </ul>
      <p>Zoekt u iemand voor voedingsadvies op maat, aarzel dan niet om mij te
        <a href="/dietist/contact/">contacteren</a>.</p>
    </div>
  </section>
{% endblock %}