{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Behandeling</title>
  {{/replace}}

  {{#replace "main"}}

    <div class="art-article">
      <h1>Huisartsen: Marc&nbsp;De&nbsp;Jaeger &amp; Sara&nbsp;Vanthuyne</h1>
      <h3>Wachtdienst</h3>
      <p>Zoekt u een huisarts 's avonds in de week of tijdens het weekend (vrijdag 20:00 uur tot maandag 8:00 uur) of op wettelijke feestdagen? Bel dan het centrale nummer&nbsp;<strong>093.288.488</strong> voor de huisarts van wacht in Lochristi. De wachtdienst is enkel voor dringende problemen.</p>
    </div>

  {{/replace}}
{{/extend}}