{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Algemeen - Kinderpsycholoog Lochristi - Liesje Van De Velde, Els Bernaert, Maaike Buyst &amp; Evelien Van Dooren</title>
    <meta name="description" content="De psychologenpraktijk voor kinderen en jongeren is een groepspraktijk die zich richt naar kinderen en jongeren van 4 tot 21 jaar en hun ouders. Vanuit een cliëntgerichte en experiëntiële houding achten we de kinderen en jongeren in staat hun eigen ontwikkeling te sturen.">
  {{/replace}}

  {{#replace "main"}}

    <div class="art-article">
      <h1>Kinderpsychologen</h1>
      <h3>Algemeen</h3>
      <p>De psychologenpraktijk voor kinderen en jongeren is een groepspraktijk die zich richt naar <strong>kinderen </strong>en <strong>jongeren </strong>van 4 tot 21 jaar en hun <strong>ouders</strong>.</p>
      <p>&nbsp;</p>
      <p>Vanuit een <strong>cliëntgerichte en experiëntiële houding</strong> achten we de kinderen en jongeren in staat hun eigen ontwikkeling te sturen. Afhankelijk van verschillende factoren kunnen er tijdens deze ontwikkeling bepaalde moeilijkheden en problemen ontstaan. Soms is het daarom nodig dat er bijkomende ondersteuning kan aangeboden worden. We wensen daarbij het tempo van de kinderen en jongeren te respecteren. Met nadruk op een positieve therapeutische relatie proberen we de krachten in de kinderen en jongeren aan te wakkeren en te stimuleren om deze optimaal te benutten. Oplossingen worden niet door ons aangereikt maar we helpen het kind of de jongere om zelf de oplossingen te zoeken.</p>
    </div>

  {{/replace}}
{{/extend}}