{% extends "layout.html.njk" %}

{% block meta %}
  <title>Nuttige links - Huisartsen Lochristi - Dr Marc De Jaeger, Dr Sara Van Thuyne &amp; Pia Verhoeven</title>
  <meta name="description" content="Nuttige links door huisarts Marc De Jaeger en Sara Van Thuyne.">
{% endblock %}

{% block main %}
  <section>
    <div class="inner">
      <h2>Nuttige links</h2>
      <ul>
        <li>
          <a target="_blank" rel="noopener" href="http://​​​​www.aavlaanderen.org">Anonieme Alcoholisten</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="http://​​​​www.abortus.be">Abortus</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="http://www.influenza.be">Griep</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="http://www.kindengezin.be">Kind &amp; Gezin</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="http://www.leif.be">Palliatieve zorg​​​​​​</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="ttp://www.domusmedica.be/praktijk/consultatie/patientenfolders">Patientenfolders</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="http://www.sensoa.be">SOA-advies​​​​​​​</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="http://www.vaph.be">Vlaams agentschap voor personen met een handicap</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="http://www.itg.be">Reisadvies</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="http://www.komoptegenkanker.be">Kankeradvies</a>
        </li>
        <li>
          <a target="_blank" rel="noopener" href="http://www.vlov.be">Zwangerschap: Vroedvrouwen</a>
        </li>
      </ul>
    </div>
  </section>
{% endblock %}