{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Kinderpsycholoog Lochristi - Liesje Van De Velde, Els Bernaert, Maaike Buyst &amp; Evelien Van Dooren</title>
    <meta name="description" content="Over onze kinderpsychologen: Liesje Van De Velde, Els Bernaert, Maaike Buyst &amp; Evelien Van Dooren.">
  {{/replace}}

  {{#replace "main"}}

    <div class="art-article">
      <h1>Kinderpsychologen</h1>
      <h3>Liesje Van De Velde (voorlopig afwezig wegens loopbaanonderbreking)</h3>
      <p>Als <strong>klinisch psychologe</strong>, afgestudeerd aan de universiteit van Gent (2005), ging mijn interesse bij aanvang uit naar het werken met kinderen en jongeren. Vanuit dit interesseveld ben ik mij steeds blijven bijscholen. Vooreerst de éénjarige basisopleiding experiëntiële en ontwikkelingsgerichte kinder- en jeugdpsychotherapie. Nadien volgde nog de kortdurende opleiding kindertherapie waarna ik uiteindelijk startte met een vierjarige postgraduaat-opleiding experiëntiële en ontwikkelingsgerichte <strong>kinder- en jeugdpsychotherapie</strong> aan de universiteit van Antwerpen.</p>
      <p>&nbsp;</p>
      <p>Ik ben <strong>erkend </strong>door de psychologencommissie en lid van de Vlaamse Vereniging voor Cliëntgericht-Experiëntiële Psychotherapie en Counseling (VVCEPC) en Vereniging voor Psychodrama (VvP).</p>
      <p>&nbsp;</p>
      <h3>Els Bernaert</h3>
      <p>Afgestudeerd aan de Universiteit Gent als <strong>klinisch psychologe </strong>(2010)</p>
      <p>Ik volgde 2-jarige postgraduaatsopleiding client-centered counseling aan de Lessius Hogeschool Antwerpen (nu Thomas Moore)(2012)</p>
      <p>&nbsp;</p>
      <h3>Maaike Buyst</h3>
      <p>Afgestudeerd in 2005 als <strong>klinisch psychologe </strong>aan de UGent. Werkervaring deed ik op in CLB en leerlingenbegeleiding. Ik volgde een kortdurende opleiding kinder- en jongerentherapie en&nbsp;volg momenteel de opleiding Experimentiële Psychotherapie en Cognitieve gedragstherapie&nbsp;voor kinderen en jongeren aan de Universiteit Antwerpen. Ik ben erkend door de psychologencommisie.</p>
      <p>&nbsp;</p>
      <p>Onder het motto <strong>'ook wie klein begint heeft al iets groots in zich' </strong>hoop ik mee te helpen bouwen aan een positieve en hoopvolle toekomst voor ieder kind. Dit in constructieve <strong>samenwerking met ouders </strong>en met respect voor de eigenheid van ieder klein of groot individu.</p>
      <p>&nbsp;</p>
      <p>Doelgroep: kinderen en jongeren met sociaal-emotionele problemen, opvoedingsmoeilijkheden, sociale vaardigheden, faalangst en weerbaarheid.</p>
      <h3>Evelien Van Dooren</h3>
      <p>&nbsp;</p>
      <p>Ik ben in 2012 afgestudeerd als klinisch psychologe aan Universiteit Gent. Ik heb mij daarna nog twee jaar gespecialiseerd in de klinische neuropsychologie en momenteel ben ik de opleiding Psychodynamische kinderpsychotherapie (KU Leuven) aan het volgen.</p>
      <p>Ik ben erkend door de Psychologencommissie en lid van BFP en VVKP.</p>
      <p>Ik werk voornamelijk vanuit een psychodynamisch perspectief, ook wel het ontwikkelingsdynamisch model genoemd. Ik laat mij vooral leiden door de persoonsontwikkeling van het specifieke kind of jongere en alle uitdagingen waar hij of zij mee geconfronteerd wordt gedurende deze ontwikkeling. Op deze manier kan de oorsprong van symptomen doorgrond worden en kunnen uitdagingen, op het tempo van het kind of de jongere overwonnen worden. Ontwikkelen kan je niet alleen, er wordt dan ook nauw samengewerkt met de ouders doorheen het proces.</p>
      <p>&nbsp;</p>
      <h3></h3>

      <!-- <p>Maaike en Mieke (psychologen) zijn alletwee in bevallingsrust, maar zij worden vervangen door een collega.</p> -->


    </div>

  {{/replace}}
{{/extend}}