{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Diëtiste Lochristi - Céline Stadeus</title>
  {{/replace}}

  {{#replace "main"}}

    <div class="art-article">
      <h1>Voedings- en dieetkundige: Céline Stadeus</h1>
      <p>Het belang van een gezonde, evenwichtige voeding is in onze maatschappij maar al te duidelijk. Misschien weet u ook niet meer wat u moet doen om gezond te eten? Of raadt uw arts u aan om op uw voeding te letten? Ga dan eens naar een diëtiste.</p>
      <h3><span style="font-size: 17px; color: #9a1818; font-weight: bold;">Voor wie ?</span></h3>
      <p>Naast personen die willen vermageren begeleid ik de voeding van:</p>
      <ul>
        <li>Diabetici</li>
        <li>Nierpatiënten</li>
        <li>Personen die meer willen weten over gezonde voeding</li>
        <li>Personen die in gewicht willen toenemen</li>
        <li>Personen met een te hoge bloeddruk of cholesterolwaarde</li>
        <li>Personen met verterings- of constipatieproblemen</li>
        <li>Personen met glutenintolerantie</li>
        <li>Hartpatiënten</li>
        <li>Zwangere vrouwen</li>
        <li>Kinderen met voedingsproblemen</li>
        <li>...</li>
      </ul>
      <p>Zoekt u iemand voor voedingsadvies op maat, aarzel dan niet om mij te contacteren.</p>
      <p>&nbsp;</p>
      <p><span class="art-button-wrapper"><span class="l"> </span><span class="r"> </span><a class="art-button" href="/dietist/contact">Contactgegevens</a></span></p>

    </div>

  {{/replace}}
{{/extend}}